<!-- FORM element : TYPE = CHECKBOX [CORE] [disabled] -->                
<div class="f-forms__element" id="f-forms__element__9d">

    <p class="f-forms__label">
        <span class="f-forms__element--label">This is a single checkbox that is disabled. [Core]</span>
        <span class="f-forms__element--sublabel">This is some help text to further explain the question</span>
    </p>
    <div class="f-forms__checkbox">
    
        <input type="checkbox" id="f-forms__element-checkbox__9d" 
        
        disabled
        
        data-parsley-required="false" 
        data-parsley-excluded="true" 

        aria-required="false"
        aria-invalid="false" aria-describedby="f-forms__element-checkbox-label__9d">

        <label for="f-forms__element-checkbox__9d" id="f-forms__element-checkbox-label__9d" disabled="disabled">By ticking this box you agree you are happy with this.</label>
    
    </div>
</div>