<!-- FORM element : TYPE = CHECKBOX [no validation] -->                
<div class="f-forms__element">
    <p class="f-forms__label">
        <span class="f-forms__element--label">Checkbox single with no validation [Core]</span>
        <span class="f-forms__element--sublabel">This is some help text to further explain the question</span>
    </p>
    <div class="f-forms__checkbox">
    
        <input type="checkbox" id="f-forms__element-checkbox__9b" 
        
        data-parsley-required="false" 
        data-parsley-excluded="true" 

        aria-required="false"
        aria-invalid="false" aria-describedby="f-forms__element-checkbox-label__9b">

        <label for="f-forms__element-checkbox__9b">By ticking this box you agree you are happy with this.</label>
    
    </div>
</div>