<!-- FORM element : EMAIL (OPTIONAL) FORGOT PASSWORD) -->
<div class="f-forms__element hidden">

    <label for="f-forms__login--forgotpw">Email<i>*</i></label>

    <input type="email" name="login--forgotpw" id="f-forms__login--forgotpw" placeholder="Type your email address..." 
    
    data-parsley-validate-if-empty
    data-parsley-required="false" 
    data-parsley-trigger="focusout"                              
    data-parsley-error-message="Enter a valid email address." 
    data-parsley-errors-container="#f-forms__element-error--login--forgotpw"

    >

    <span class="f-forms__element--status"></span>
    
    <div class="f-forms__element--error" id="f-forms__element-error--login--forgotpw"></div>
</div>

<!-- BUTTON -->
<div class="f-forms__element control-resendpw hidden">
    <a href="#" target="new" class="button" title="Opens in a new window...." id="f-forms__element--control-resend">Resend Password <i class="glyphicon glyphicon-menu-right"></i></a>
</div>