<!-- FORM element : TYPE = INPUT [CUSTOM] [PHONE] -->
<div class="f-forms__element" id="f-forms__element__4123b">
    <label for="f-forms__element-input__123b">
        <span class="f-forms__element--label">Phone</span> 
    </label>

    <input type="tel" name="" id="f-forms__element-input__4123b"
    
    class="f-forms__element--actual"

    data-parsley-trigger="focusout"
    data-parsley-trigger-after-failure="focusout"
    data-parsley-required="true"
    data-parsley-required-message="This is a required field." 
    data-parsley-class-handler="#f-forms__element__4123b"
    data-parsley-errors-container="#f-forms__element-error__4123b"
    data-parsley-pattern="[0-9 +()-]+$"
    data-parsley-minlength="7"
    data-parsley-minlength-message="Must be a minimum of 7 characters."
    data-parsley-maxlength="15"
    data-parsley-maxlength-message="Must be a maximum of 15 characters."
    data-parsley-pattern-message="Please enter a valid phone number." 

    aria-required="true"
    aria-describedby="f-forms__element-error__4123b"
        
    >

    <span class="f-forms__element--status"></span>
    
    <div class="f-forms__element--error" id="f-forms__element-error__4123b" role="alert" aria-live="polite"><span></span></div>
</div>