 <!-- FORM element : TYPE = INPUT [EMAIL] -->
<div class="f-forms__element" id="f-forms__element__3">
    <label for="f-forms__element-input__3">
        <span class="f-forms__element--label">Email [Core]</span>
        <span class="f-forms__element--sublabel">This is some help text to further explain the question</span>
    </label>

    <input id="f-forms__element-input__3" 
    
    class="f-forms__element--actual" 

    type="email" 
    data-parsley-trigger="focusout"
    data-parsley-trigger-after-failure="focusout"
    data-parsley-required="true" 
    data-parsley-class-handler="#f-forms__element__3"
    data-parsley-errors-container="#f-forms__element-error__3"
    data-parsley-error-message="Must be a valid email address."
    data-parsley-whitespace="trim"

    aria-required="true"
    aria-describedby="f-forms__element-error__3"

    >

    <span class="f-forms__element--status"></span>
    
    <div class="f-forms__element--error" id="f-forms__element-error__3" role="alert" aria-live="polite"><span></span></div>

</div>