<!-- FORM element : TYPE = INPUT [CORE] -->  
<div class="f-forms__element" id="f-forms__element__34">
    <label for="f-forms__element-input__34">
        <span class="f-forms__element--label">Input [Core]</span>
        <span class="f-forms__element--sublabel">Reduced width variation (with validation)</span>
    </label>

    <input type="text" name="" id="f-forms__element-input__34"
    
    class="f-forms__element--actual half-width"

    data-parsley-trigger="focusout"
    data-parsley-trigger-after-failure="focusout"        
    data-parsley-length="[2, 255]"
    data-parsley-length-message="Must be between 2 and 255 characters."
    data-parsley-required="true"
    data-parsley-required-message="This is a required field." 
    data-parsley-class-handler="#f-forms__element__34"
    data-parsley-errors-container="#f-forms__element-error__34" 
    data-parsley-whitespace="trim"

    aria-required="true"
    aria-describedby="f-forms__element-error__34"
        
    >

    <span class="f-forms__element--status"></span>
    
    <div class="f-forms__element--error" id="f-forms__element-error__34" role="alert" aria-live="polite"><span></span></div>
</div>