 <!-- FORM element : TYPE = INPUT [PASSWORD] -->
<div class="f-forms__element" id="f-forms__element__333">
    <label for="f-forms__element-input__3">
        <span class="f-forms__element--label">Password [Core]</span>
        <span class="f-forms__element--sublabel">This is some help text to further explain the question</span>
    </label>

    <input id="f-forms__element-input__333" 
    
    class="f-forms__element--actual" 

    type="password" 
    data-parsley-trigger="focusout"
    data-parsley-trigger-after-failure="focusout"
    data-parsley-required="true" 
    data-parsley-class-handler="#f-forms__element__333"
    data-parsley-errors-container="#f-forms__element-error__333"
    data-parsley-error-message="Please enter your password."
    data-parsley-whitespace="trim"

    aria-required="true"
    aria-describedby="f-forms__element-error__333"

    >

    <span class="f-forms__element--status"></span>
    
    <div class="f-forms__element--error" id="f-forms__element-error__333" role="alert" aria-live="polite"><span></span></div>

</div>