<!-- FORM element : TYPE = MOBILE [no validation] -->
<div class="f-forms__element">
    <label for="f-forms__element-input__561">
        <span class="f-forms__element--label">Mobile</span>
    </label>

    <input type="tel" name="" id="f-forms__element-input__561"
    
    class="f-forms__element--actual"
    
    data-parsley-excluded="true"
    data-parsley-required="false"

    aria-required="false"
        
    >

</div>