 <!-- FORM element : NUMBER SELECTOR: WITHOUT VALIDATION -->
<div class="f-forms__element" id="f-forms__element__3c">
    <label for="f-forms__element-input__3c">
        <span class="f-forms__element--label">Number selector (no validation)</span>
    </label>
    <div class="f-forms--number-selector-wrapper">
        <i class="minus-indicator disabled"></i>
        <input id="f-forms__element-input__3c" 
            class="f-forms--number-selector__input" 
            type="number" 
            value="0"
            min="0" max="99"
            data-parsley-required="false"
            aria-required="false" 
            aria-describedby="f-forms__element-input__3c">
        <i class="plus-indicator"></i>    
    </div>
</div>