<div class="f-qrcode">
    
    <div class="f-qrcode--block">
        <img src="https://via.placeholder.com/500" />
    </div>

    <div class="f-qrcode--block">
        <p>
            Donation type
            <span>General donation</span>
        </p>
        <p>
            Amount
            <span>£45.00</span>
        </p>
        <p>
            Reference
            <span>01231 123 1235</span>
        </p>
    </div>
</div>