<!-- ********************************** -->
<!-- Forms v2: GDPR                     -->
<!-- ********************************** -->

<fieldset class="f-forms__gdpr">
    
    <legend>Keep in touch with us</legend>
    <p>We would love to send you information on our life saving research and how you can help us to keep more hearts beating through fundraising, events and volunteering opportunities.</p>
    <p>Please tick below to tell us how you want to hear from us:</p>
    
    
    <div class="f-forms__element">

        <div class="f-forms__radio f-forms__radio--header">
            <span class="f-forms__radio--label"></span>
            <label class="f-forms__radio--element is-highlghted">Yes</label>
            <label class="f-forms__radio--element">No</label>
        </div>

        <!-- JOIN: EMAIL -->
        <div class="f-forms__radio" id="f-forms__jointype-email">
            <span class="f-forms__radio--label">Email</span>
            <label class="f-forms__radio--element is-highlghted" for="f-forms__jointype-email-yes">
                 
                <input type="radio" id="f-forms__jointype-email-yes" name="jointype-email" value="jointype-email-yes"
                
                data-parsley-required="true"
                data-parsley-required-message="We need to know if we can contact you by email."
                data-parsley-trigger="click" 
                data-parsley-class-handler="#f-forms__jointype-email" 
                data-parsley-multiple="jointype-email"
                data-parsley-errors-container="#f-forms__radio-error__12342" 


                >
                <i></i>
            </label>

            <label class="f-forms__radio--element" for="f-forms__jointype-email-no"> 
                
                <input type="radio" id="f-forms__jointype-email-no" name="jointype-email" value="jointype-email-no"
                
                data-parsley-required="true"
                data-parsley-required-message="We need to know if we can contact you by email."
                data-parsley-trigger="click"
                data-parsley-class-handler="#f-forms__jointype-email"
                data-parsley-multiple="jointype-email"
                data-parsley-errors-container="#f-forms__radio-error__12342" 

                
                >
                <i></i>
            </label>

        </div>

        <!-- JOIN: TEXT -->
        <div class="f-forms__radio" id="f-forms__jointype-text">
            <span class="f-forms__radio--label">Text</span>
            <label class="f-forms__radio--element is-highlghted" for="f-forms__jointype-text-yes">
                
                <input type="radio" id="f-forms__jointype-text-yes" name="jointype-text" value="jointype-text-yes"

                data-parsley-required="true"
                data-parsley-required-message="We need to know if we can contact you by text."
                data-parsley-trigger="click" 
                data-parsley-class-handler="#f-forms__jointype-text" 
                data-parsley-multiple="jointype-text" 
                data-parsley-errors-container="#f-forms__radio-error__12342" 

                >
                <i></i>
            </label>

            <label class="f-forms__radio--element" for="f-forms__jointype-text-no"> 
                <input type="radio" id="f-forms__jointype-text-no" name="jointype-text" value="jointype-text-no"
                
                data-parsley-required="true"
                data-parsley-required-message="We need to know if we can contact you by text."
                data-parsley-trigger="click" 
                data-parsley-class-handler="#f-forms__jointype-text"
                data-parsley-multiple="jointype-text"
                data-parsley-errors-container="#f-forms__radio-error__12342" 

                >
                <i></i>
            </label>

            <span class="f-forms__element--status"></span>
        </div>

        <!-- JOIN: POST -->
        <div class="f-forms__radio" id="f-forms__jointype-post">
            <span class="f-forms__radio--label">Post</span>
            <label class="f-forms__radio--element is-highlghted" for="f-forms__jointype-post-yes">
                
                <input type="radio" id="f-forms__jointype-post-yes" name="jointype-post" value="jointype-post-yes"
                
                data-parsley-required="true"
                data-parsley-required-message="We need to know if we can contact you by post."
                data-parsley-trigger="click" 
                data-parsley-class-handler="#f-forms__jointype-post" 
                data-parsley-multiple="jointype-post"
                data-parsley-errors-container="#f-forms__radio-error__12342" 

                >
                <i></i>
            </label>

            <label class="f-forms__radio--element" for="f-forms__jointype-post-no"> 
                <input type="radio" id="f-forms__jointype-post-no" name="jointype-post" value="jointype-post-no"
                
                data-parsley-required="true"
                data-parsley-required-message="We need to know if we can contact you by post."
                data-parsley-trigger="click" 
                data-parsley-class-handler="#f-forms__jointype-post"
                data-parsley-multiple="jointype-post"
                data-parsley-errors-container="#f-forms__radio-error__12342" 

                >

                <i></i>
            </label>

            <span class="f-forms__element--status"></span>
        </div> 

        <!-- JOIN: PHONE -->
        <div class="f-forms__radio" id="f-forms__jointype-phone">
            <span class="f-forms__radio--label">Phone</span>
            <label class="f-forms__radio--element is-highlghted" for="f-forms__jointype-phone-yes">
                
                <input type="radio" id="f-forms__jointype-phone-yes" name="jointype-phone" value="jointype-phone-yes"
                
                data-parsley-required="true"
                data-parsley-required-message="We need to know if we can contact you by phone."
                data-parsley-trigger="click" 
                data-parsley-class-handler="#f-forms__jointype-phone" 
                data-parsley-multiple="jointype-phone"
                data-parsley-errors-container="#f-forms__radio-error__12342" 

                >

                <i></i>
            </label>

            <label class="f-forms__radio--element" for="f-forms__jointype-phone-no"> 
                <input type="radio" id="f-forms__jointype-phone-no" name="jointype-phone" value="jointype-phone-no"
                
                data-parsley-required="true"
                data-parsley-required-message="We need to know if we can contact you by phone."
                data-parsley-trigger="click" 
                data-parsley-class-handler="#f-forms__jointype-phone"
                data-parsley-multiple="jointype-phone"
                data-parsley-errors-container="#f-forms__radio-error__12342" 

                >
                
                <i></i>
            </label>

            <span class="f-forms__element--status"></span>
        </div>

        <div class="f-forms__element--error" id="f-forms__radio-error__12342" role="alert" aria-live="polite"><span></span></div>

    </div>
    
    <p class="small">We take your privacy seriously and will never sell or swap your details with third parties. You can withdraw your consent to be contacted at any time by calling 0300 330 3322 or by emailing <a href="mailto:heretohelp@bhf.org.uk">heretohelp@bhf.org.uk</a>. Information about how we protect and use your personal data is set out in our privacy policy: <a href="/privacy">bhf.org.uk/privacy</a></p>
</fieldset>