<!-- FORM element : TYPE = TEXTAREA [no validation] -->
<div class="f-forms__element" id="f-forms__element__9c">
    <label for="f-forms__element-textarea__9c">
        <span class="f-forms__element--label">Textarea - no validation [Core]</span>
    </label>

    <div class="f-forms__textarea">

        <textarea id="f-forms__element-textarea__9c" maxlength="500"
        
        class="f-forms__element--actual"
        
        data-parsley-required="false"
        aria-required="false" 
        aria-describedby="f-forms__element-textarea__9c"
        
        ></textarea>

        <i class="f-forms__textarea--chars"></i>

    </div>
    
</div>   