<fieldset class="f-forms__fieldset--nested">
        
    <legend>Is this your own money?</legend>

    <!-- ********************************** -->
    <!-- FORM element : RADIO -->
    <!-- ********************************** -->
    <div class="f-forms__element" id="f-forms__radio__14">

        <div class="f-forms__radio">
            <label class="f-forms__radio--element" for="f-forms__radio__14a">
                
                <input type="radio" 
                
                id="f-forms__radio__14a" 
                name="f-forms__radio__14" 
                value="option__yes"

                class="f-forms__element--parsley-toggle is-giftaid"
                
                data-parsley-required="true"
                data-parsley-trigger="click" 
                data-parsley-class-handler="#f-forms__radio__14"
                data-parsley-multiple="f-forms__radio__14"
                data-parsley-errors-container="#f-forms__radio-error__14" 

                >

                <i></i>
            
                <span class="f-forms__radio--label">Yes</span>
            </label>
            
        </div>

        <div class="f-forms__radio">
            <label class="f-forms__radio--element" for="f-forms__radio__14b">
                
                <input type="radio" 
                
                id="f-forms__radio__14b" 
                name="f-forms__radio__14" 
                value="option__no"
                
                data-parsley-required="true"
                data-parsley-trigger="click" 
                data-parsley-class-handler="#f-forms__radio__14"
                data-parsley-multiple="f-forms__radio__14"
                data-parsley-errors-container="#f-forms__radio-error__14" 

                >

                <i></i>

                <span class="f-forms__radio--label">No</span>
            </label>
            
        </div>

        <!-- FORM element : TYPE = checkbox [toggled] [giftaid] -->
        
        <div class="f-forms__giftaid f-forms__giftaid--nested hidden">

            <img src="assets/img/Gift-Aid-logo.png" alt="Gift Aid logo" />
            <p><b>Boost your donation by 25%</b><br/>If you're a UK taxpayer and add Gift Aid to your donation it is worth more than 25% to us at no extra cost to you!</p>

            <!-- FORM element : TYPE = CHECKBOX [no validation] -->                
            <div class="f-forms__element">
                <p class="f-forms__label">
                    <span class="f-forms__element--label">Please tick the box below to add Gift Aid to your donation.</span>
                </p>
                <div class="f-forms__checkbox">
                
                    <input type="checkbox" id="f-forms__element-checkbox__19b" 
                    
                    data-parsley-required="false" 
                    data-parsley-excluded="true" 

                    aria-required="false"
                    aria-invalid="false" aria-describedby="f-forms__element-checkbox-label__19b">

                    <label for="f-forms__element-checkbox__19b">Yes I am a UK taxpayer and would like the BHF to reclaim the tax on this donation.</label>
                
                </div>
            </div>

        </div>


    </div>

</fieldset>