<!-- FORM element : TYPE = INPUT [no validation] -->
<div class="f-forms__element" id="f-forms__element__1d">
    <label for="f-forms__element-input__1d">
        <span class="f-forms__element--label">Input [Core]</span>
        <span class="f-forms__element--sublabel">No validation</span>
    </label>

    <input type="text" name="" id="f-forms__element-input__1d"

    class="f-forms__element--actual"
    
    data-parsley-excluded="true"
    data-parsley-required="false"

    aria-required="false"
    aria-describedby="f-forms__element-error__1d"
        
    >

</div>