<!-- FORM element : #1 : TYPE = INPUT -->
<div class="f-forms__element" id="f-forms__element__1">
    <label for="f-forms__element-input__1" disabled="disabled">
        <span class="f-forms__element--label">Disabled [Core]</span>
    </label>

    <input type="text" name="" id="f-forms__element-input__1"
    
    disabled

    class="f-forms__element--actual"
    data-parsley-excluded="true"
    
    aria-required="false"
    aria-describedby="f-forms__element-error__1"
        
    >

</div>