<!-- FORM element -->
<div class="f-forms__element half-width" id="f-element_4">
    <label for="f-forms__element-input__4">Date of birth<i>*</i></label>
    <input type="date" name="" id="f-forms__element-input__4" max="9999-12-31"
    
    data-parsley-required="true"
    data-parsley-trigger="focusout" 
    data-parsley-error-message="Enter a date."
    data-parsley-class-handler="#f-element_4"
    data-parsley-errors-container="#fforms__element-error__4" 

    aria-required="true"
    aria-describedby="f-forms__element-error__4"
    
    >

    <span class="f-forms__element--status"></span>
    
    <div class="f-forms__element--error" id="f-forms__element-error__4" role="alert" aria-live="polite"></div>
</div>