<fieldset>
        
    <legend>Radio Buttons with validation</legend>

    <!-- ********************************** -->
    <!-- FORM element : RADIO -->
    <!-- ********************************** -->
    <div class="f-forms__element" id="f-forms__radio__1">

        <div class="f-forms__radio">
            <label class="f-forms__radio--element" for="f-forms__radio__1a">
                
                <input type="radio" 
                
                id="f-forms__radio__1a" 
                name="f-forms__radio__1" 
                value="option__1"
                data-parsley-required-message="please select something"
                data-parsley-required="true"
                data-parsley-trigger="click" 
                data-parsley-class-handler="#f-forms__radio__1"
                data-parsley-multiple="f-forms__radio__1"
                data-parsley-errors-container="#f-forms__radio-error__1" 

                >

                <i></i>
            
                <span class="f-forms__radio--label">This is option 1a</span>
            </label>
            
        </div>

        <div class="f-forms__radio">
            <label class="f-forms__radio--element" for="f-forms__radio__1b">
                
                <input type="radio" 
                
                id="f-forms__radio__1b" 
                name="f-forms__radio__1" 
                value="option__1b"
                data-parsley-required-message="please select something"
                data-parsley-required="true"
                data-parsley-trigger="click" 
                data-parsley-class-handler="#f-forms__radio__1"
                data-parsley-multiple="f-forms__radio__1"
                data-parsley-errors-container="#f-forms__radio-error__1" 

                >

                <i></i>

                <span class="f-forms__radio--label">This is option 1b which has a very long label and which spans over one line. Indeed, it's quite long and should wrap on to the next line - which would be nice, wouldn't it?</span>
            </label>
            
        </div>

        <div class="f-forms__radio">
            <label class="f-forms__radio--element" for="f-forms__radio__1c">
                
                <input type="radio" 
                
                id="f-forms__radio__1c" 
                name="f-forms__radio__1" 
                value="option__1c"
                data-parsley-required-message="please select something"
                data-parsley-required="true"
                data-parsley-trigger="click" 
                data-parsley-class-handler="#f-forms__radio__1"
                data-parsley-multiple="f-forms__radio__1"
                data-parsley-errors-container="#f-forms__radio-error__1" 

                >

                <i></i>

                <span class="f-forms__radio--label">This is option 1c</span>
            </label>
        </div>

         <div class="f-forms__radio">
            <label class="f-forms__radio--element" for="f-forms__radio__1d">
                
                <input type="radio" disabled
                
                id="f-forms__radio__1d" 
                name="f-forms__radio__1" 
                value="option__1d"
                data-parsley-required-message="please select something"
                data-parsley-required="true"
                data-parsley-trigger="click" 
                data-parsley-class-handler="#f-forms__radio__1"
                data-parsley-multiple="f-forms__radio__1"
                data-parsley-errors-container="#f-forms__radio-error__1" 

                >

                <i></i>

                <span class="f-forms__radio--label">This is a disabled option</span>
            </label>
        </div>

        <div class="f-forms__element--error" id="f-forms__radio-error__1" role="alert" aria-live="polite"><span></span></div>
    </div>
</fieldset>
<fieldset>
    <legend>Radio Buttons without validation</legend>

        <!-- ********************************** -->
        <!-- FORM element : RADIO -->
        <!-- ********************************** -->
        <div class="f-forms__element" id="f-forms__radio__2">

            <div class="f-forms__radio">
                <label class="f-forms__radio--element" for="f-forms__radio__2a">
                    
                    <input type="radio" 
                    
                    id="f-forms__radio__2a" 
                    name="f-forms__radio__2" 
                    value="option__1"
                    
                    data-parsley-required="false"
                    data-parsley-trigger="click" 
                    data-parsley-class-handler="#f-forms__radio__2"
                    data-parsley-multiple="f-forms__radio__2"

                    >

                    <i></i>
                
                    <span class="f-forms__radio--label">This is option 1a</span>
                </label>
                
            </div>

            <div class="f-forms__radio">
                <label class="f-forms__radio--element" for="f-forms__radio__2b">
                    
                    <input type="radio" 
                    
                    id="f-forms__radio__2b" 
                    name="f-forms__radio__2" 
                    value="option__2b"
                    
                    data-parsley-required="false"
                    data-parsley-trigger="click" 
                    data-parsley-class-handler="#f-forms__radio__2"
                    data-parsley-multiple="f-forms__radio__2"

                    >

                    <i></i>

                    <span class="f-forms__radio--label">This is option 1b which has a very long label and which spans over one line. Indeed, it's quite long and should wrap on to the next line - which would be nice, wouldn't it?</span>
                </label>
                
            </div>

            <div class="f-forms__radio">
                <label class="f-forms__radio--element" for="f-forms__radio__2c">
                    
                    <input type="radio" 
                    
                    id="f-forms__radio__2c" 
                    name="f-forms__radio__2" 
                    value="option__2c"
                    
                    data-parsley-required="false"
                    data-parsley-trigger="click" 
                    data-parsley-class-handler="#f-forms__radio__2"
                    data-parsley-multiple="f-forms__radio__2"

                    >

                    <i></i>

                    <span class="f-forms__radio--label">This is option 1c</span>
                </label>
            </div>

            <div class="f-forms__radio">
                <label class="f-forms__radio--element" for="f-forms__radio__2d">
                    
                    <input type="radio" disabled
                    
                    id="f-forms__radio__2d" 
                    name="f-forms__radio__2" 
                    value="option__2d"
                    
                    data-parsley-required="false"
                    data-parsley-trigger="click" 
                    data-parsley-class-handler="#f-forms__radio__2"
                    data-parsley-multiple="f-forms__radio__2"

                    >

                    <i></i>

                    <span class="f-forms__radio--label">This is a disabled option</span>
                </label>
            </div>
        </div>

</fieldset>