<!-- FORM element : TYPE = SELECT [CORE]  -->
<div class="f-forms__element" id="f-forms__element__40">
    <label for="f-forms__element-input__40">
        <span class="f-forms__element--label">Select with validation [Core]</span>
        <span class="f-forms__element--sublabel">Optional help line of text.</span>
    </label>
    
    <div class="f-forms__select">
        
        <select id="f-forms__element-select__40" 
        
        data-parsley-required="true"
        data-parsley-trigger="change" 
        data-parsley-min-value="option1" 
        data-parsley-error-message="Select an option." 
        data-parsley-class-handler="#f-forms__element__40"
        data-parsley-errors-container="#f-forms__element-error__40" 
        
        aria-required="true"
        aria-describedby="f-forms__element-error__40"
        
        >
            <option value="">Select...</option>
            <option value="option1">Option 1</option>
            <option value="option2">Option 2</option>
            <option value="option3">Option 3</option>
            <option value="option4">Option 4</option>
            <option value="option5">Option 5</option>
        </select>

        <i class="select-arrow glyphicon glyphicon-menu-down"></i>
    </div>

    <div class="f-forms__element--error" id="f-forms__element-error__40" role="alert"></div>

</div>