<!-- FORM element : TYPE = SELECT [CORE] no validation  -->
<div class="f-forms__element" id="f-forms__element__41">
    <label for="f-forms__element-input__41">
        <span class="f-forms__element--label">Select with no validation [Core]</span> 
    </label>
    
    <div class="f-forms__select">
        
        <select id="f-forms__element-select__41" 
        
        data-parsley-required="false"
        data-parsley-excluded="true"

        aria-required="false"
        aria-describedby="f-forms__element-error__41"
        
        >
            <option value="">Select...</option>
            <option value="option1">Option 1</option>
            <option value="option2">Option 2</option>
            <option value="option3">Option 3</option>
            <option value="option4">Option 4</option>
            <option value="option5">Option 5</option>
        </select>

        <i class="select-arrow glyphicon glyphicon-menu-down"></i>
    </div>

    <div class="f-forms__element--error" id="f-forms__element-error__41" role="alert"></div>

</div>