<!-- FORM element : TYPE = TEXTAREA [disabled] -->
<div class="f-forms__element" id="f-forms__element__9a">
    <label for="f-forms__element-textarea__9a" disabled="disabled">
        <span class="f-forms__element--label">Disabled [Core]</span>
    </label>

    <div class="f-forms__textarea">

        <textarea id="f-forms__element-textarea__9b" maxlength="500" 
        
        disabled
        
        class="f-forms__element--actual"
        
        data-parsley-required="false"
        data-parsley-excluded="true"

        aria-required="false" 
        aria-describedby="f-forms__element-textarea__9a"
        
        ></textarea>

        <i class="f-forms__textarea--chars"></i>

    </div>
    
</div>   