.c-main-menu {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
    margin: 0 auto;
    background-color: $c-bhf-red;

    @include mq(tablet) {
        flex-direction: row;
        justify-content: space-around;       
        flex-wrap: wrap;
        padding: 13px 4px;
        @include border-radius(26px);
    }

    &__item {
        a {
            padding: 5px 8px;
            text-decoration: none;
            color: $c-white;
        }
    }
}
