<!-- ************************************** -->
<!-- START: MVC [v2]                        -->
<!-- ************************************** -->

<section class="f-forms f-forms-parsley" role="group">

    <form novalidate data-parsley-validate="" aria-label="Enter form details below, ensuring each mandatory step is completed, before continuing.">
        
        <h1>MVC - Forms v2: Checkbox</h1>

        <p>Checkboxes should be used if you want to enable your user to select more than one option in a group of choices. </p>
        
        <p><a href="forms-elements__nested.html">Click here for a NESTED option</a>.</p> 

        {% include 'forms/elements/f-checkbox__single.njk' %}

        {% include 'forms/elements/f-checkbox__group.njk' %}

        {% include 'forms/elements/f-checkbox__no-validation.njk' %}

        {% include 'forms/elements/f-checkbox__disabled.njk' %}

 
    </form> 

</section>
