<header class="f-header">

    <ul role="menubar" class="f-header__top" aria-label="British Heart Foundation - Preliminary primary navigation list">
        <li><a href="http://www.bhf.org.uk/" role="menuitem" tabindex="0">Visit bhf.org.uk<span class="bhfi bhfi-extlink"></span></a></li>
        <li><a href="http://www.bhf.org.uk/donate" role="menuitem" tabindex="0">Donate<span class="bhfi bhfi-extlink"></span></a></li>
    </ul>

    <div class="f-header__bottom">
    
        <div class="f-header__brand">
            <a href="/" class="f-header__logo" title="British Heart Foundation - Logo" tabindex="0"></a>
            <h1><a href="/" title="Form title" tabindex="0">Form title</a></h1>
        </div>
        
        <a href="#f-modal__close" class="cta cta__secondary cta__cancel" tabindex="0" rel="modal:open"><i class="bhfi bhfi-closemobile" aria-hidden="true"></i> <span>Cancel</span></a>
    </div>

    <div id="f-modal__close" class="f-modal modal">
        <h2>This is the title of the modal box</h2> 

        <p>You have clicked the CANCEL button - do you wish to leave this form? If so please press the button below to continue.</p>

        <div class="cta__container">

            <a href="#" class="cta cta__ghost is-red" rel="modal:close">No, negative action<i class="glyphicon glyphicon-menu-right"></i></a>

            <a href="https://www.bhf.org.uk/" class="cta cta__secondary is-white-on-red cta__href">Yes, positive action<i class="glyphicon glyphicon-menu-right"></i></a>

        </div>

    </div>

</header>