<!-- ************************************** -->
<!-- START: MVC [v2]                        -->
<!-- ************************************** -->

<section class="f-forms f-forms-parsley" role="group">

    <form novalidate data-parsley-validate="" aria-label="Enter form details below, ensuring each mandatory step is completed, before continuing.">
        
        <h1>MVC - Forms v2 - Input [Custom]</h1>

        <p>Custom variations based on <a href="forms-elements__input-core.html">Input [Core]</a></p>

        {% include 'forms/elements/f-input__email.njk' %}

        {% include 'forms/elements/f-input__firstname.njk' %}

        {% include 'forms/elements/f-input__lastname.njk' %}

        {% include 'forms/elements/f-input__phone.njk' %}

        {% include 'forms/elements/f-input__mobile.njk' %}

        {% include 'forms/elements/f-input__amount.njk' %}

        {% include 'forms/elements/f-input__postcode.njk' %}

        {% include 'forms/elements/f-input__url.njk' %}

        {% include 'forms/core/f-submit.njk' %}

        {# {% include 'forms/elements/f-input__donation-amount.njk' %} #}
    </form> 

</section>
