<!-- ************************************** -->
<!-- START: MVC [v2]                        -->
<!-- ************************************** -->

<section class="f-forms f-forms-parsley" role="group">

    <form novalidate data-parsley-validate="" aria-label="Enter form details below, ensuring each mandatory step is completed, before continuing.">
        
        <h1>MVC - Forms v2: Radio button group with nested Radio Button group</h1>

        <p>Both groups have validation and the user must select one option from each in order to pass validation.</p>
        
        {% include 'forms/elements/f-radio__group-with-nested-radio--alt.njk' %}

        {% include 'forms/core/f-submit.njk' %}
 
    </form> 

</section>
