<!-- FORM element : BUTTON -->
<div class="f-forms__element">
    <button type="submit" value="Submit" class="cta cta__secondary is-white-on-red f-forms__button--notice" />Register <i class="glyphicon glyphicon-menu-right"></i></button>
</div>

<div class="f-forms__validation--notice hidden">
    <ul class="filled">
        <li>Please answer all mandatory questions above before continuing.</li>
    </ul>
</div>

<div class="f-forms__notice hidden">Please give us a moment whilst we create your JustGiving fundraising page.</div> 