<section class="c-download-callout-big" role="complementary">
    <div class="c-download-callout-big__wrapper">
        <div class="c-download-callout-big__copy">
            <h2>
                <a href="">
                    Free booklet
                </a>
                <span class="c-download-callout-big__icons">
                    <span class="bhfi bhfi-download2"></span>
                    <span class="bhfi bhfi-booklet"></span>
                </span>
            </h2>
            <p>Our booklet 'Caring for someone with heart condition' is written for people caring for a loved one</p>
            <!-- BE to raplase with relevant link -->
            <input type="button" value="Download or order a free copy" onclick=" window.location.href='[LINK TO FILE]' "/>
        </div>
        <div class="c-download-callout-big__image">
            <img src="assets/img/placeholders/example-booklet.png" alt="[ALT TEXT]" />
        </div>
    </div>
</section>