<section class="c-event-promo-banner" role="complementary"> 
    <div class="c-event-promo-banner__image" style="background-image: url('assets/img/mvc/cyclist-2x.png');"></div>
    {# div class="c-event-promo-banner__wrap is-pulled-right" #}
    <div class="c-event-promo-banner__wrap">
        <div class="c-event-promo-banner__content">
            <h2>
                <a href="">Take part in an event</a>
            </h2>
            <p>Whether you like to run, swim, bike or do something completely different we have an event for you. Take part in BHF events and raise money for life saving research.</p>

            <div class="c-event-promo-banner__calendar">
                <h3>London to Brighton Bike Ride 2018</h3>
                <a href="#">Register now</a>
            </div>

            <a href="#" class="cta cta__secondary is-paprika-on-white">Leave a gift in your will<i class="glyphicon glyphicon-menu-right"></i></a>
        </div>
    </div>
</section>
