<section class="c-event-promo-banner" role="complementary"> 
    <div class="c-event-promo-banner__image" style="background-image: url('assets/img/mvc/cyclist-2x.png');"></div>
    {# div class="c-event-promo-banner__wrap" #}
    <div class="c-event-promo-banner__wrap is-pulled-right">
        <div class="c-event-promo-banner__content">
            
            <div class="c-quote">
                <div class="c-quote__copy">
                    For me, the biggest reason to volunteer is to give something back to the BHF. But I also really enjoy it, otherwise I wouldn’t have stayed involved for so long. I’ve met other wonderful volunteers and made really good friends
                </div>
                <div class="c-quote__author">
                    <span>Diane, event volunteer</span>
                </div>
            </div>

        </div>
    </div>
</section>
