<section class="cs-shelf__wrapper is-grey">

    <div class="c-featured-tiles__header">
        <h2>Heights not getting your heart racing?</h2>
        <p>Choose another fear to face.</p>
    </div>

    <div class="cs-shelf__row is-equal-thirds">
        <div class="cs-shelf__column">

            <!-- BEGIN: TILE -->
            <a href="#" class="c-featured-tiles__item">
                <div class="c-featured-tiles__item--image">
                    <img src="assets/img/product/fear-tile-heights.png" alt="Heights" />
                </div>
                <div class="c-featured-tiles__item--copy">
                    Heights
                </div>
            </a>        
            <!-- END: TILE -->

        </div>
        <div class="cs-shelf__column">
            <!-- BEGIN: TILE -->
            <a href="#" class="c-featured-tiles__item">
                <div class="c-featured-tiles__item--image">
                    <img src="assets/img/product/fear-tile-public-speaking.png" alt="Public Speaking" />
                </div>
                <div class="c-featured-tiles__item--copy">
                    Public speaking 
                </div>
            </a>        
            <!-- END: TILE -->
        </div>
        <div class="cs-shelf__column">
            <!-- BEGIN: TILE -->
            <a href="#" class="c-featured-tiles__item">
                <div class="c-featured-tiles__item--image">
                    <img src="assets/img/product/fear-tile-rat.png" alt="Rats / mice" />
                </div>
                <div class="c-featured-tiles__item--copy">
                    Rats / mice
                </div>
            </a>        
            <!-- END: TILE -->
        </div>
    </div>

    <div class="cs-shelf__row is-equal-thirds">
        <div class="cs-shelf__column">
            <!-- BEGIN: TILE -->
            <a href="#" class="c-featured-tiles__item">
                <div class="c-featured-tiles__item--image">
                    <img src="assets/img/product/fear-tile-snakes.png" alt="Snakes" />
                </div>
                <div class="c-featured-tiles__item--copy">
                    Snakes
                </div>
            </a>        
            <!-- END: TILE -->
        </div>
        <div class="cs-shelf__column">
            <!-- BEGIN: TILE -->
            <a href="#" class="c-featured-tiles__item">
                <div class="c-featured-tiles__item--image">
                    <img src="assets/img/product/fear-tile-spiders.png" alt="Spiders" />
                </div>
                <div class="c-featured-tiles__item--copy">
                    Spiders
                </div>
            </a>        
            <!-- END: TILE -->
        </div>
        <div class="cs-shelf__column">
            <!-- BEGIN: TILE -->
            <a href="#" class="c-featured-tiles__item">
                <div class="c-featured-tiles__item--image">
                    <img src="assets/img/product/fear-tile-something-different.png" alt="Face a different fear..." />
                </div>
                <div class="c-featured-tiles__item--copy">
                    Face a different fear...
                </div>
            </a>        
            <!-- END: TILE -->
        </div>
    </div>

</section>

<section class="cs-shelf__wrapper">

    <div class="c-featured-tiles__header">
        <h2>Heights not getting your heart racing?</h2>
        <p>Choose another fear to face.</p>
    </div>

    <div class="cs-shelf__row is-equal-thirds">
        <div class="cs-shelf__column">

            <!-- BEGIN: TILE -->
            <a href="#" class="c-featured-tiles__item">
                <div class="c-featured-tiles__item--image">
                    <img src="assets/img/product/fear-tile-heights.png" alt="Heights" />
                </div>
                <div class="c-featured-tiles__item--copy">
                    Heights
                </div>
            </a>        
            <!-- END: TILE -->

        </div>
        <div class="cs-shelf__column">
            <!-- BEGIN: TILE -->
            <a href="#" class="c-featured-tiles__item">
                <div class="c-featured-tiles__item--image">
                    <img src="assets/img/product/fear-tile-public-speaking.png" alt="Public Speaking" />
                </div>
                <div class="c-featured-tiles__item--copy">
                    Public speaking 
                </div>
            </a>        
            <!-- END: TILE -->
        </div>
        <div class="cs-shelf__column">
            <!-- BEGIN: TILE -->
            <a href="#" class="c-featured-tiles__item">
                <div class="c-featured-tiles__item--image">
                    <img src="assets/img/product/fear-tile-rat.png" alt="Rats / mice" />
                </div>
                <div class="c-featured-tiles__item--copy">
                    Rats / mice
                </div>
            </a>        
            <!-- END: TILE -->
        </div>
    </div>

    <div class="cs-shelf__row is-equal-thirds">
        <div class="cs-shelf__column">
            <!-- BEGIN: TILE -->
            <a href="#" class="c-featured-tiles__item">
                <div class="c-featured-tiles__item--image">
                    <img src="assets/img/product/fear-tile-snakes.png" alt="Snakes" />
                </div>
                <div class="c-featured-tiles__item--copy">
                    Snakes
                </div>
            </a>        
            <!-- END: TILE -->
        </div>
        <div class="cs-shelf__column">
            <!-- BEGIN: TILE -->
            <a href="#" class="c-featured-tiles__item">
                <div class="c-featured-tiles__item--image">
                    <img src="assets/img/product/fear-tile-spiders.png" alt="Spiders" />
                </div>
                <div class="c-featured-tiles__item--copy">
                    Spiders
                </div>
            </a>        
            <!-- END: TILE -->
        </div>
        <div class="cs-shelf__column">
            <!-- BEGIN: TILE -->
            <a href="#" class="c-featured-tiles__item">
                <div class="c-featured-tiles__item--image">
                    <img src="assets/img/product/fear-tile-something-different.png" alt="Face a different fear..." />
                </div>
                <div class="c-featured-tiles__item--copy">
                    Face a different fear...
                </div>
            </a>        
            <!-- END: TILE -->
        </div>
    </div>

</section>