<section class="c-winners-table">

    <h1>Congratulations to all our winners</h1>
    <p>See if you have been lucky and won one of our prizes.</p>

    <div class="c-winners-table__wrap">

        <div class="c-winners-table__item">
            
            <h2>Lottery Winners</h2>
            <p>Last week's winners were last updated 22nd June 2018</p>
                
            <table>
                <thead>
                    <tr>
                        <th scope="col">Prize</th>
                        <th scope="col">Lottery No.</th>
                        <th scope="col">Draw date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>£1,000</td>
                        <td>967080</td>
                        <td>967080</td>
                    </tr>
                    <tr>
                        <td>£1,000</td>
                        <td>967080</td>
                        <td>967080</td>
                    </tr>
                    <tr>
                        <td>£1,000</td>
                        <td>967080</td>
                        <td>967080</td>
                    </tr>
                    <tr>
                        <td>£1,000</td>
                        <td>967080</td>
                        <td>967080</td>
                    </tr>
                    <tr>
                        <td>£1,000</td>
                        <td>967080</td>
                        <td>967080</td>
                    </tr>
                </tbody>
            </table>

            <a href="#">Check to see if you have won</a>

        </div>

        <div class="c-winners-table__item">
            
            <h2>Raffle Winners</h2>
            <p>Raffle winners were last updated 22nd June 2018</p>
                
            <table>
                <thead>
                    <tr>
                        <th scope="col">Prize</th>
                        <th scope="col">Ticket No.</th>
                        <th scope="col">Draw date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>£1,000</td>
                        <td>967080</td>
                        <td>967080</td>
                    </tr>
                    <tr>
                        <td>£1,000</td>
                        <td>967080</td>
                        <td>967080</td>
                    </tr>
                    <tr>
                        <td>£1,000</td>
                        <td>967080</td>
                        <td>967080</td>
                    </tr>
                    <tr>
                        <td>£1,000</td>
                        <td>967080</td>
                        <td>967080</td>
                    </tr>
                    <tr>
                        <td>£1,000</td>
                        <td>967080</td>
                        <td>967080</td>
                    </tr>
                </tbody>
            </table>

            <a href="#">Check to see if you have won</a>

        </div>

        <div class="c-winners-table__item">
            
            <h2>Superdraw Winners</h2>
            <p>Superdraw winners were last updated 22nd June 2018</p>
                
            <table>
                <thead>
                    <tr>
                        <th scope="col">Prize</th>
                        <th scope="col">Lottery No.</th>
                        <th scope="col">Draw date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>£1,000</td>
                        <td>967080</td>
                        <td>967080</td>
                    </tr>
                    <tr>
                        <td>£1,000</td>
                        <td>967080</td>
                        <td>967080</td>
                    </tr>
                    <tr>
                        <td>£1,000</td>
                        <td>967080</td>
                        <td>967080</td>
                    </tr>
                    <tr>
                        <td>£1,000</td>
                        <td>967080</td>
                        <td>967080</td>
                    </tr>
                    <tr>
                        <td>£1,000</td>
                        <td>967080</td>
                        <td>967080</td>
                    </tr>
                </tbody>
            </table>

            <a href="#">Check to see if you have won</a>

        </div>


    </div>

</section>
