<!-- HERO [PROTOTYPE] -->
<section class="c-scp-hero">
    <header  itemscope itemtype="http://schema.org/WPHeader"> 
 
        <a href="#" class="g-logo bigbeat animation-beat">
            <span></span>
        </a>

        <div class="c-scp-hero__copy">

            <div class="c-scp-hero__is-full">

                {% include '_breadcrumb.njk' %}

                <h1 itemprop="headline">Ride Event</h1>

                <p>Join thousands and organise a fundraiser to raise money for life saving research. We'll help with fun materials, creative ideas and loads of way to make the most of your fundraising.</p>
            </div>
        </div>
    </header>
    <div class="c-scp-hero__mask">
        <img src="assets/img/mvc/scp-hero-curve.svg" alt="Hero curve mask" />
    </div>
</section>