<!-- ************************************** -->
<!-- START: FORM [single step / generic]    -->
<!-- ************************************** -->

<section class="g-forms g-forms-parsley is-grey" role="group">

    <div class="g-forms__breadcrumb">
        <ul>
            <li><a href="#">Engraving</a><i>&gt;</i></li>
            <li><a href="#">Your details</a><i>&gt;</i></li>
            <li class="current">Checkout<i>&gt;</i></li>
            <li>Confirmation</li>
        </ul>
        <span>Step 3 of 4</span>
    </div>

    <form novalidate data-parsley-validate="" aria-label="BHF Heart of Steel - Checkout">
        
        <div class="g-forms__inner">

            <h1>Checkout</h1>

            <p>You've almost finished!</p>
            
        </div>


        <!-- Checkout itinerary -->
        <div class="c-checkout-order">
            <h3>Your order</h3>
            <ul>
                <li>
                    <div class="c-checkout-order__name">Sarah Richards<br>02.04.2018</div>
                    <div class="c-checkout-order__label"></div>
                    <div class="c-checkout-order__amount">£20.00</div>
                    <div class="c-checkout-order__control"></div>
                </li>
                <li>
                    <div class="c-checkout-order__name"></div>
                    <div class="c-checkout-order__label">Total</div>
                    <div class="c-checkout-order__amount">£20.00</div>
                    <div class="c-checkout-order__control"></div>
                </li>
            </ul>
        </div>

        <!-- TWO CTA -->
        <section class="c-checkout-cta">

            <!-- Worldpay -->
            <div class="c-checkout-cta__item">
                <div class="c-checkout-cta__item--inner">
                    <h4>Secure payment powered by Worldpay</h4>

                    <div class="c-checkout-cta__images">           
                        <img src="assets/img/icons/mastercard-logo.png" alt="Mastercard logo" />
                        <img src="assets/img/icons/visa-logo.png" alt="Visa logo" />
                        <img src="assets/img/icons/maestro-logo.png" alt="Maestro logo" />
                    </div>

                    <button type="submit" value="Submit" class="cta cta__secondary is-white-on-red" />Pay by Credit/Debit card </button>
                </div>
            </div>

        </section>

    </form> 

</section>  