<!-- ************************************** -->
<!-- START: MVC [v2]                        -->
<!-- ************************************** -->

<section class="f-forms f-forms-parsley" role="group">

    <form novalidate data-parsley-validate="" aria-label="Enter form details below, ensuring each mandatory step is completed, before continuing.">
        
        <h1>MVC - Forms v2: Autocomplete</h1>

        <p>Sometimes in search it might be useful to use an autocomplete functionality. </p>
        <p>Results should start to appear once the user has inputted 3 characters, and the list should update as they type more. The corresponding characters in the list should be highlighted in red.</p> 
        <P>This component is configurable with data source, field(s) to appear in the search list, fields to appear in the textbox when selected and the default query.</p>
        {% include 'forms/elements/f-autocomplete.njk' %} 
 
    </form> 

</section>
