<!-- FORM element : BUTTON [HREF] -->
<div class="f-forms__element">
    <a href="#" class="cta cta__secondary is-white-on-red" />Resend password <i class="glyphicon glyphicon-menu-right"></i></a>
</div>
