<div href="#" class="cta cta__add-item">
    <div class="cta-label">
        <span class="cta-label__first-line">Engrave a name</span>
        <span class="cta-label__first-line-alternative hidden">Engrave another name</span>
    </div>
    <i class="cta-add-icon"></i>
</div>