<!-- ************************************** -->
<!-- START: MVC [v2]                        -->
<!-- ************************************** -->

<section class="f-forms f-forms-parsley" role="group">

    <form novalidate data-parsley-validate="" aria-label="Enter form details below, ensuring each mandatory step is completed, before continuing.">
        
        <h1>MVC - Forms v2: Number selector</h1>

        {% include 'forms/elements/f-number-selector__input.njk' %}

        {% include 'forms/elements/f-number-selector__no-validation.njk' %}

        {% include 'forms/elements/f-number-selector__help.njk' %}

    </form> 

</section>