<!-- ************************************** -->
<!-- START: MVC [v2]                        -->
<!-- ************************************** -->

<section class="f-forms f-forms-parsley" role="group">

    <form novalidate data-parsley-validate="" aria-label="Enter form details below, ensuring each mandatory step is completed, before continuing.">
        
        <h1>MVC - Forms v2 - GDPR</h1>

        <p>Custom Radio Group.</p> 

        {% include 'forms/elements/f-radio__gdpr.njk' %}
        
        {% include 'forms/core/f-submit.njk' %}

    </form> 

</section>
