<div id="f-modal__remove-item" class="f-forms-modal modal basket-remove-item closed">
        <h2>Remove name from engraving</h2> 
        <p>Are you sure?</p>

        <div class="cta__container">
            <a href="#" class="cta cta__secondary is-white-on-red cta__href" rel="modal:close">No, keep name on engraving</a>
            <a href="#" class="cta cta__ghost is-red remove-item" rel="modal:close">Yes, remove name from engraving</a>
        </div>
    </div>