<div id="f-modal__engraving-guidelines" class="f-forms-modal modal modal-guidelines closed">
        <h2>Engraving guidelines</h2> 
        <ul class="c-bullet-list">
            <li class="tick">one name per engraving</li>
            <li class="tick">Jane Smith</li>
            <li class="cross">John and Jane Smith</li>
            <li class="cross">The Smith Family</li>
            <li class="tick">you can include an additional word or phrase</li>
            <li class="tick">Jane Smith (Mother)</li>
            <li class="tick">Lee Robert Pemberton (Survivors Of Stroke)</li>
        </ul>

        <div class="cta__container">
            <a href="#" class="cta cta__ghost is-red" rel="modal:close">Got it</a>
        </div>
    </div>