<!-- ************************************** -->
<!-- START: MVC [v2]                        -->
<!-- ************************************** -->

<section class="f-forms f-forms-parsley" role="group">

    <form novalidate data-parsley-validate="" aria-label="Enter form details below, ensuring each mandatory step is completed, before continuing.">
        
        <h1>MVC - Forms v2 - Example: MVP</h1>

        <p>This is a simple Forms v2 example with First Name and Last Name with validation as fields.</p> 

        {% include 'forms/elements/f-input__firstname.njk' %}

        {% include 'forms/elements/f-input__lastname.njk' %}
        
        {% include 'forms/core/f-submit.njk' %}

    </form> 

</section>
