<!-- ************************************** -->
<!-- START: MVC [v2]                        -->
<!-- ************************************** -->

<section class="f-forms f-forms-parsley" role="group">

    <form novalidate data-parsley-validate="" aria-label="Enter form details below, ensuring each mandatory step is completed, before continuing.">
        
        <h1>Payment</h1>

        <p class="bold">Please show this screen to the cashier.</p>

        {% include 'forms/elements/f-qrcode.njk' %}
        
        {% include 'forms/core/f-submit.njk' %}

    </form> 

</section>
