
<!DOCTYPE html>
<html lang="en" itemscope itemtype="http://schema.org/WebPage"> 
    {% include '_head.njk' %}
    <body class="sitecore-editingmode">

        <main class="cd-main-content" accesskey="c" itemscope itemprop="mainContentOfPage">

            <!-- PLACEHOLDER -->
            <div class="cs-shelf__row is-equal-quaters">
                <h2 style="text-align:center; font-weight: bold;">CTAs</h2>
                <div class="cs-shelf__column" style="background-color: #474e5a; padding: 25px;">
                    {% include '_ctas.njk' %}
                </div>
                <div class="cs-shelf__column">
                    <div class="scEmptyPlaceholder"></div>
                </div>
                <div class="cs-shelf__column">
                    <div class="scEmptyPlaceholder"></div>
                </div>
                <div class="cs-shelf__column">
                    <div class="scEmptyPlaceholder"></div>
                </div>
            </div>
 
        </main>

    {% include '_scripts.njk' %}

    </body>
    
</html>
