<!DOCTYPE html>
<html lang="en" itemscope itemtype="http://schema.org/WebPage"> 
    {% include '_head.njk' %}
    <body class="sitecore-editingmode">

        <h1>MVC - Download call out</h1>

        <main class="cd-main-content" accesskey="c" itemscope itemprop="mainContentOfPage">
            <div>
                <a href="index.html" class="cta">Return to list</a>
                <div class="cs-shelf__row is-narrow">
                    <div class="cs-shelf__column">
                        <section class="c-text-component">
                            <h2>Heart support groups</h2>
                            <p>Our affiliated Heart Support Groups are one of the best places for both heart patients and their carers to get help and support. Set up by patients and carers, they do a tremendous job in bringing fun and friendship into people’s lives after the traumatic experience of a heart incident or diagnosis.</p>
                            
                            <h2>Free booklet</h2>
                            <p>Our booklet ‘Caring for someone with a heart condition’ is written for people caring for a loved one. This booklet looks at what has happened to the person you are caring for. It explains how to help them develop a healthy lifestyle and reduce their risk of further heart problems; how to help them to get back to normal and encourage them to be independent; how to seek financial help for carers and carers’ assessments; how to address the emotional aspects of caring for someone and coping if things are difficult; and who to contact for more help or support.</p>
                        </section>

                        {% include 'c-download-callout.njk' %}
                    </div>
                </div>
            </div>
        </main>
    
    {% include '_scripts.njk' %}

    </body>
</html>
