
<!DOCTYPE html>
<html lang="en" itemscope itemtype="http://schema.org/WebPage"> 
    {% include '_head.njk' %}
    <body class="sitecore-editingmode">

        <main class="cd-main-content" accesskey="c" itemscope itemprop="mainContentOfPage">        
           
            <a href="index.html" class="cta">Return to list</a>

            <div class="cs-shelf__row is-marginless">   
                <div class="cs-shelf__column">
                    {% include 'c-nav-master.njk' %}
                    {% include 'c-nav-mobile.njk' %}
                </div>
            </div>

            <div class="cs-shelf__row is-marginless">
                <div class="cs-shelf__column">
                    
                    <section class="g-header">
                        <div class="g-header__inner">
                            
                            <a href="#" class="g-logo bigbeat animation-beat">
                                <span></span>
                            </a>

                            <div class="g-header__image">
                                <img src="assets/img/placeholders/nino@2x.png" alt="Featured photo etc etc" />
                            </div>

                            <header  itemscope itemtype="http://schema.org/WPHeader">
                                <div class="g-header__copy">
                                    <h1 itemprop="headline">Beat heartbreak<br/>forever.</h1>
                                    <meta itemprop="description" content="We’re the British Heart Foundation. Thanks to you we're funding research to keep hearts beating and blood flowing."> 
                                    <p>We’re the British Heart Foundation. Thanks to you we're funding research to keep hearts beating and blood flowing.</p> 
                                    <a href="#" class="button">Read Nino’s story <i class="glyphicon glyphicon-menu-right"></i></a>
                                </div>
                            </header> 
                            
                        </div>
                    </section>

                </div>
            </div>

               
            <!-- PLACEHOLDER --> 
            <div class="cs-shelf__row is-marginless">
                <div class="cs-shelf__column first">
                    
                    <!-- COMPONENT -->
                    {% include 'c-event-promo-banner.njk' %}

                </div>
            </div>
            
            <!-- PLACEHOLDER --> 
            <div class="cs-shelf__row is-marginless">
                <div class="cs-shelf__column first">
                    
                    <!-- COMPONENT -->
                    {% include 'c-campaign-banner.njk' %}

                </div>
            </div>

            <!-- PLACEHOLDER --> 
            <div class="cs-shelf__row is-marginless">
                <div class="cs-shelf__column first">

                    <!-- COMPONENT -->
                    {% include 'c-curve-image-and-text-cta.njk' %}

                </div>
            </div>

            <!-- PLACEHOLDER --> 
            <div class="cs-shelf__row is-marginless">
                <div class="cs-shelf__column first">

                    <!-- COMPONENT -->
                    {% include 'c-curve-image-and-text-subheaders.njk' %}

                </div>
            </div>

            
            <!-- PLACEHOLDER --> 
            <div class="cs-shelf__row is-full"> 
                <div class="cs-shelf__column first">
                    
                    <!-- COMPONENT -->
                    {% include 'c-find-the-bhf-near-you.njk' %}

                </div>
            </div>

            <!-- PLACEHOLDER -->
            <div class="cs-shelf__row is-full">
                <div class="cs-shelf__column first">
                    
                    <!-- COMPONENT -->
                    {% include 'c-news.njk' %}

                </div>
            </div>

            <!-- PLACEHOLDER -->
            <div class="cs-shelf__row is-full">
                <div class="cs-shelf__column first">
                    
                    <!-- COMPONENT -->
                    {% include 'c-text-and-image.njk' %}

                </div>
            </div>

            
            <!-- PLACEHOLDER -->
            <div class="cs-shelf__row is-full">
                <div class="cs-shelf__column first">
                    
                    <!-- COMPONENT -->
                    {% include 'c-text-and-image-is-flipped.njk' %}

                </div>
            </div>

            <!-- PLACEHOLDER --> 
            <div class="cs-shelf__row is-marginless">
                <div class="cs-shelf__column first">

                    <!-- COMPONENT -->
                    {% include 'c-text-and-image-curved.njk' %}

                </div>
            </div>

            <!-- PLACEHOLDER --> 
            <div class="cs-shelf__row is-full">
                <div class="cs-shelf__column first">
                    
                    <!-- COMPONENT -->
                    {% include 'c-two-cards.njk' %}

                </div>
            </div>

            <!-- PLACEHOLDER -->
            <div class="cs-shelf__row is-marginless">
                <div class="cs-shelf__column">
                    {% include '_footer.njk' %}
                </div>
            </div>

            
            {% include '_policy-update.njk' %}
        </main>


        {% include '_scripts.njk' %}   

    </body>
    
</html>
