<!DOCTYPE html>
<html lang="en" itemscope itemtype="http://schema.org/WebPage"> 

<head>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width" />
	<!-- <link rel="stylesheet" type="text/css" href="assets/framework.css" /> -->
    <link rel="stylesheet" type="text/css" href="assets/css/styles-mvc.css"/>
    <link rel="stylesheet" type="text/css" href="//cloud.typography.com/7376432/776862/css/fonts.css" />
    <meta name="description" content="Being a carer for someone who has a heart condition can be very demanding. Find out where you can find support, and how to care for yourself too">
    <title>MVC - Content page</title>
</head>

<body class="sitecore-editingmode">
    <h1>MVC Layout</h1>
    <main class="cd-main-content" accesskey="c" itemscope itemprop="mainContentOfPage">
        <div>
            <a href="index.html" class="cta">Return to list</a>

            <div class="cs-shelf__row is-full">
                <div class="cs-shelf__column">

                    {% include '_header.njk' %}

                    <section class="c-breadcrumbs">
                        <ul>
                            <li>
                                <a href="#">Home</a>
                            </li>
                            <li>
                                <a href="#">Level 2</a>
                            </li>
                            <li>
                                <b>Current Page</b>
                            </li>
                        </ul>
                    </section>

                </div>
            </div>

            <div class="cs-shelf__row is-full">
                <div class="cs-shelf__column">
                    <div id="hm-carousel" class="owl-carousel">
                                                                        
                        <div class="item-copy">
                            <img src='https://www.bhf.org.uk/-/media/images/home/carousel-images/the-clot-thickens-for-timeline-carousel-620x244.png?h=244&amp;w=620&amp;la=en' alt='"The Clot Thickens" an image of a blood clot. ' />
                            <h2>
                                Our research has been making a difference since 1961
                            </h2>
                            <p>We've been fighting for every heart beat since 1961, in that time we've helped make some huge research breakthroughs, from discovering what causes heart attacks to the first use of statins our researchers have done amazing things.</p>
                            <a href='https://www.bhf.org.uk/about-us/our-impact/the-difference-the-bhf-has-made-since-1961' class='cta' >See the difference we&#39;ve made</a>
                            
                        </div>
                
                        <div class="item-copy">
                            <img src='https://www.bhf.org.uk/-/media/images/home/carousel-images/christmas-cards-carousel-620x244.jpg?h=244&amp;w=620&amp;la=en' alt='5 BHF Christmas Cards' />
                            <h2>
                                Buy BHF Christmas cards
                            </h2>
                            <p>We sell more than a hundred different designs on our online shop. Whether you like a contemporary, traditional, amusing or religious style, our Christmas cards are the perfect way to support our life saving research.</p>
                            <a href='/shop/link-pages/christmas-cards' class='cta' >Visit our online shop</a>
                            
                        </div>
    
                    </div>
                </div>
            </div>

            <div class="cs-shelf__row is-wide-left">
                <div class="cs-shelf__column">
                    <div class="c-text">
                        <h2 style="font-weight: bold;">Caring for a heart patient</h2>
                        
                        <p class="c-text__intro-text intro-text">Every day, another six thousand new people take on a caring responsibility.</p>
                        
                        <p>Many of these people, perhaps like you, don't even consider themselves to be carers. They think they are simply partners, family or friends doing what anyone in their situation would do - caring for someone they love.</p>
                        <h2>Providing care</h2>

                        <p>If a loved one has a heart condition, they may need extra care and support. They may feel like they’re a burden or a nuisance and it may be difficult for them come to terms with their condition and situation.</p>
                        
                        <p>Relying on other people can be a new feeling and can sometimes be hard to accept. These are all common feelings and fears, but by providing support you’re making a real difference to someone’s life.</p>
                    
                        <h2>Caring for yourself too</h2>
                        <p>Being a carer for someone who has a heart condition can be very demanding - both physically and emotionally. Some carers will juggle their job at work with home and family life as well as looking after their partner or relative.</p>
                        <p>Whether your caring involves emotional support, taking on extra chores or caring for someone 24 hours a day, you need to have a life of your own and to take care of your own physical and mental wellbeing too. This includes taking regular breaks and time out for yourself.</p>
                    
                        <p>Carers UK is a charity that campaigns for the rights of carers. They know the importance of recognising yourself as a carer and suggest the following can be helpful:</p>
                    
                        <ul>
                            <li>tell your GP, because looking after your health is important too</li>
                            <li>tell people at work, because you may have to take time off for hospital appointments</li>
                            <li>look after yourself - take time to treat yourself</li>
                            <li>plan for the future.</li>
                        </ul>

                        <p>Telling Social Services that you’ve become a carer can also help. They can carry out a carer’s assessment and provide a range of services, such as:</p>
                        
                        <ul>
                            <li>guiding you to any benefits you may be entitled to, such as carer's allowance</li>
                            <li>helping you claim your benefits</li>
                            <li>finding your nearest carers groups and centres.</li>
                        </ul>

                        <p>The more your role as a carer is recognised the better access you will have to support. We know that caring for a loved one can be deeply rewarding, but it can also be stressful.</p>

                        <h2>Where can I find support?</h2>

                        <p>Whether you need practical advice, a sympathetic ear or a chance to take a break, there are plenty of organisations ready to give you that support:</p>

                        <ul>
                            <li>Our booklet Caring for someone with a heart condition contains practical information, such as financial help you may be entitled to and the emotional aspects of being a carer and how to cope if things get difficult. It also includes details of organisations that are able to provide carers with support.</li>
                            <li>Our affiliated Heart Support Groups are one of the best places for both heart patients and their carers to get help and support. Set up by patients and carers, they do a tremendous job in bringing fun and friendship into peoples lives after the traumatic experience of a heart incident or diagnosis.</li>
                            <li>Joining our Online Community will give you an opportunity to share your experiences, stories, tips and ideas with other people like you.</li>
                            <li>Our Heart Helpline cardiac nurses and heart health advisors are here to provide you with information and support on anything heart related - call 0300 330 3311.</li>
                            <li>Organisations like the British Cardiac Patients Association can help you get in touch with people with the same experiences as you.</li>
                        </ul>
                    </div>

                    <footer class="content-footer">
                        <div class="c-share-this">
                            <div class="c-share-this__items">

                                <a class="c-share-this__item cta greylight-dark" title="Print" href="#">Print</a>
                                <a class="c-share-this__item" target="_blank" title="LinkedIn" href="#">
                                    <img src="assets/img/icons/addthis/linkedin.png" width="29" height="29" alt="Linkdin Logo">
                                </a>
                                <a class="c-share-this__item" target="_blank" title="Twitter" href="#">
                                    <img src="assets/img/icons/addthis/twitter.png" width="29" height="29" alt="Twitter Logo">
                                </a>
                                <a class="c-share-this__item" target="_blank" title="Email" href="#">
                                    <img src="assets/img/icons/addthis/email.png" width="29" height="29" alt="Email Logo">
                                </a>
                                <a class="c-share-this__item" target="_blank" title="Facebook" href="#">
                                    <img src="assets/img/icons/addthis/facebook.png" width="29" height="29" alt="Facebook Logo">
                                </a>

                                <div class="atclear"></div></div>
                        </div>
                    </footer>

                </div>
                <div class="cs-shelf__column">
                        <div class="c-share-this">
                                <div class="c-share-this__items">
    
                                    <a class="c-share-this__item cta greylight-dark" title="Print" href="#">Print</a>
                                    <a class="c-share-this__item" target="_blank" title="LinkedIn" href="#">
                                        <img src="assets/img/icons/addthis/linkedin.png" width="29" height="29" alt="Linkdin Logo">
                                    </a>
                                    <a class="c-share-this__item" target="_blank" title="Twitter" href="#">
                                        <img src="assets/img/icons/addthis/twitter.png" width="29" height="29" alt="Twitter Logo">
                                    </a>
                                    <a class="c-share-this__item" target="_blank" title="Email" href="#">
                                        <img src="assets/img/icons/addthis/email.png" width="29" height="29" alt="Email Logo">
                                    </a>
                                    <a class="c-share-this__item" target="_blank" title="Facebook" href="#">
                                        <img src="assets/img/icons/addthis/facebook.png" width="29" height="29" alt="Facebook Logo">
                                    </a>
    
                                    <div class="atclear"></div></div>
                            </div>

                    <div class="c-secondary-nav">
                        <a href="/heart-health/living-with-a-heart-condition/caring-for-a-heart-patient">
                            <h2 class="c-secondary-nav-heading">Caring for a heart patient</h2>
                        </a>
                    
                        <ul class="c-secondary-nav-list">
                            <li>
                                <a href="/heart-health/living-with-a-heart-condition/caring-for-a-heart-patient/losing-someone-to-heart-disease">Losing someone to heart disease</a>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>

            <div class="cs-shelf__row is-full">
                <div class="cs-shelf__column">
                    <section class="c-btt">
                        <a href="#main" class="back-to-top" id="back-to-top">Skip to top</a>
                    </section>

                    {% include '_footer.njk' %}

                </div>
            </div>

        </div>
    </main>

    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <!--  -->
    
    {% include '_scripts.njk' %}

</body>

</html>
