
<!DOCTYPE html>
<html lang="en" itemscope itemtype="http://schema.org/WebPage"> 
    {% include '_head.njk' %}
    <body class="sitecore-editingmode">

        <h1>MVC - Social Share</h1>

        <main class="cd-main-content" accesskey="c" itemscope itemprop="mainContentOfPage">
            <div>
                <a href="index.html" class="cta">Return to list</a>
                <div class="cs-shelf__row is-narrow">
                    <div class="cs-shelf__column">
                        {% include 'c-social-share.njk' %}
                    </div>
                </div>
                <div class="c-social-share__wrap is-grey">
                    <div class="cs-shelf__row is-narrow">
                        <div class="cs-shelf__column">
                            {% include 'c-social-share.njk' %}
                        </div>
                    </div>
                </div>
            </div>
        </main>
    
    
    
    {% include '_scripts.njk' %}

    </body>
    
</html>
