
<!DOCTYPE html>
<html lang="en" itemscope itemtype="http://schema.org/WebPage"> 
    {% include '_head.njk' %}
    <body class="sitecore-editingmode">

        {# <h1>MVC - ARTICLE EXAMPLE</h1> #}

        <main class="cd-main-content" accesskey="c" itemscope itemprop="mainContentOfPage">        
           
            {# <a href="index.html" class="cta">Return to list</a> #}

            
            <div class="cs-shelf__row is-marginless">   
                <div class="cs-shelf__column">
                    {% include 'c-nav-master.njk' %}
                    {% include 'c-nav-mobile.njk' %}
                </div>
            </div>

            <div class="cs-shelf__row is-marginless">
                <div class="cs-shelf__column">
                    {% include 'c-scp-hero__is-full.njk' %}
                </div>
            </div> 

            <!-- PLACEHOLDER --> 
            <div class="cs-shelf__row is-wide-left"> 
                <div class="cs-shelf__column">
                    
                    <!-- COMPONENT -->
                    {% include 'c-text-and-image-video-large.njk' %}

                    <!-- COMPONENT -->
                    {% include 'c-text-component.njk' %}
                    
                </div>
                <div class="cs-shelf__column">
                    
                    <!-- COMPONENT -->
                    {% include 'c-nav-secondary.njk' %}
                
                </div>
            </div>    

            <!-- PLACEHOLDER -->
            <div class="cs-shelf__row is-marginless">
                <div class="cs-shelf__column">
                    {% include '_footer.njk' %}
                </div>
            </div>
 

            
        </main>

    
    
    {% include '_scripts.njk' %}

    </body>
    
</html>
