<!-- OneTrust Cookies Consent Notice (Production CDN, bhf.org.uk, en-GB) start -->
<script src="https://cdn.cookielaw.org/consent/d4ac7b4c-7779-4b9e-a727-b46805b25d4a.js" type="text/javascript" charset="UTF-8"></script>
<script type="text/javascript">
function OptanonWrapper() { }
</script>
<!-- OneTrust Cookies Consent Notice (Production CDN, bhf.org.uk, en-GB) end -->

<!-- OneTrust Cookies Settings button start -->
<a class="optanon-show-settings"></a>
<!-- OneTrust Cookies Settings button end -->