<div class="g-cookies">
    <div class="g-cookies__wrap">
        <div class="g-cookies__copy">
            We use cookies to ensure that we give you the best experience on our website. By continuing to use our site, you are agreeing to our use of cookies. You can change your cookie settings at any time if you want. <a href="/what-we-do/our-policies/our-privacy-and-cookies-policy">Read our new privacy and cookies policy</a>.
        </div>
        <div class="g-cookies__cta">
            <button>Accept and close</button>
        </div>
    </div>
</div>