<!-- Primary CTAs -->
<a href="#" class="cta cta__primary">Primary button<i class="glyphicon glyphicon-menu-right"></i></a>
<a href="#" class="cta cta__primary is-dark-grey-on-white">Primary button<i class="glyphicon glyphicon-menu-right"></i></a>
<a href="#" class="cta cta__primary is-paprika-on-white">Primary button<i class="glyphicon glyphicon-menu-right"></i></a>
<a href="#" class="cta cta__primary is-white-on-red">Primary button<i class="glyphicon glyphicon-menu-right"></i></a>

<!-- Secondary CTAs -->
<a href="#" class="cta cta__secondary">Secondary button<i class="glyphicon glyphicon-menu-right"></i></a>
<a href="#" class="cta cta__secondary is-dark-grey-on-white">Secondary button<i class="glyphicon glyphicon-menu-right"></i></a>
<a href="#" class="cta cta__secondary is-paprika-on-white">Secondary button<i class="glyphicon glyphicon-menu-right"></i></a>
<a href="#" class="cta cta__secondary is-white-on-red">Secondary button<i class="glyphicon glyphicon-menu-right"></i></a>
<button type="submit" class="cta cta__secondary is-white-on-red" />Button <i class="glyphicon glyphicon-menu-right"></i></button>

<!-- Ghost CTA --> 
<a href="#" class="cta cta__ghost">Ghost button<i class="glyphicon glyphicon-menu-right"></i></a>
<a href="#" class="cta cta__ghost is-red">Ghost button<i class="glyphicon glyphicon-menu-right"></i></a>


<!-- Tertiary CTAs -->
<a href="#" class="cta cta__tertiary">Tertiary button</a>
<a href="#" class="cta cta__tertiary is-dark-grey-on-white">Tertiary button</i></a>
<a href="#" class="cta cta__tertiary is-paprika-on-white">Tertiary button</i></a>
<a href="#" class="cta cta__tertiary is-white-on-red">Tertiary button</a>