<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <link rel="stylesheet" type="text/css" href="assets/css/styles-mvc.css"/>
    <link rel="stylesheet" type="text/css" href="assets/fonts/bhf_icons.css"/>
    <title>British Heart Foundation – Fighting for every heartbeat</title>
    
    <meta name="description" content="We&#39;re a charity fighting to end heart disease. We&#39;re  the biggest independent funder of cardiovascular research in the UK." />
    <meta name="keywords" content="" />

    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/img/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/assets/img/favicons/android-chrome-192x192.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicons/favicon-16x16.png">
    <link rel="mask-icon" href="/assets/img/favicons/safari-pinned-tab.svg" color="#FF0030">
    <link rel="shortcut icon" href="/assets/img/favicons/favicon.ico">
    <meta name="msapplication-TileColor" content="#FF0030">
    <meta name="msapplication-TileImage" content="/assets/img/favicons/mstile-144x144.png">
    <meta name="msapplication-config" content="/assets/img/favicons/browserconfig.xml">
    <meta name="theme-color" content="#FF0030">
    
    <!-- Facebook OG tags -->
    <meta property="og:type" content="website" />
    <meta property="og:image" content="https://1200x628.jpg" />
    <meta property="og:site_name" content="British Heart Foundation" />
    <meta property="og:title" content="British Heart Foundation – Fighting for every heartbeat" />
    <meta property="og:description" content="We&#39;re a charity fighting to end heart disease. We&#39;re  the biggest independent funder of cardiovascular research in the UK." />
    
    <!-- TWITTER tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@TheBHF">
    <meta name="twitter:image" content="https://1200x628.jpg">
    <meta name="twitter:title" content="British Heart Foundation – Fighting for every heartbeat">
    <meta name="twitter:description" content="We&#39;re a charity fighting to end heart disease. We&#39;re  the biggest independent funder of cardiovascular research in the UK." />
    
    <!-- Schema.org and Pinterest tags -->
    <meta itemprop="image" content="https://1200x628.jpg" />
    <meta itemprop="name" content="British Heart Foundation – Fighting for every heartbeat" />
    <meta itemprop="description" content="We&#39;re a charity fighting to end heart disease. We&#39;re  the biggest independent funder of cardiovascular research in the UK." />
    <meta itemprop="keywords" content="" />
</head>