<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <link rel="stylesheet" type="text/css" href="assets/css/styles-legacy.css"/>
    <link rel="stylesheet" type="text/css" href="assets/fonts/bhf_icons.css"/>
    <title>British Heart Foundation – Fighting for every heartbeat</title>
    
    <meta name="description" content="We&#39;re a charity fighting to end heart disease. We&#39;re  the biggest independent funder of cardiovascular research in the UK." />
    <meta name="keywords" content="" />
    
    <!-- Facebook OG tags -->
    <meta property="og:type" content="website" />
    <meta property="og:image" content="https://1200x628.jpg" />
    <meta property="og:site_name" content="British Heart Foundation" />
    <meta property="og:title" content="British Heart Foundation – Fighting for every heartbeat" />
    <meta property="og:description" content="We&#39;re a charity fighting to end heart disease. We&#39;re  the biggest independent funder of cardiovascular research in the UK." />
    
    <!-- TWITTER tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@TheBHF">
    <meta name="twitter:image" content="https://1200x628.jpg">
    <meta name="twitter:title" content="British Heart Foundation – Fighting for every heartbeat">
    <meta name="twitter:description" content="We&#39;re a charity fighting to end heart disease. We&#39;re  the biggest independent funder of cardiovascular research in the UK." />
    
    <!-- Schema.org and Pinterest tags -->
    <meta itemprop="image" content="https://1200x628.jpg" />
    <meta itemprop="name" content="British Heart Foundation – Fighting for every heartbeat" />
    <meta itemprop="description" content="We&#39;re a charity fighting to end heart disease. We&#39;re  the biggest independent funder of cardiovascular research in the UK." />
    <meta itemprop="keywords" content="" />
</head>