<div class="g-policy-update">
	<div class="g-policy-update__wrap">
        <div class="g-policy-update__copy">
            We have recently updated our privacy policy. Please read our updated <a href="#">Privacy Policy</a>.
        </div>
    </div>
</div>
