{% include '_cookies.njk' %} 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="assets/js/custom-mvc.js"></script>
<script src="assets/js/app-mvc.js"></script>
{# <script src="assets/js/react-mvc.js"></script> #}