<div class="c-banner c-sticky">
    <ul>
        <li><p class="lead hidden">London to Brighton Bike ride</p><p>17th June 2018 | Starts at 8am</p></l1>
        <li>
            <!-- BE devs: Populate data attributes with date set for event. -->
            <div class="c-banner__countdown c-countdown" data-day="13" data-month="June" data-year="2019" data-time="17:00:00 GMT+01:00">
                <span class="c-countdown__days"></span> days | 
                <span class="c-countdown__hours"></span> hr | 
                <span class="c-countdown__minutes"></span> min | 
                <span class="c-countdown__seconds"></span> sec
            </div>
            <p>Clapham Common | Windmill Dr | London SW4 9DE</p>
        </l1>
        <li>
            <a href="#" class="cta cta__secondary cta__action">Sign up now<i class="glyphicon glyphicon-menu-right"></i></a>
        </l1>
    </ul>
</div>
<div class="c-banner__mobile-sticky">
    <span>London to Brighton Bike ride</span>
    <a href="#" class="cta cta__secondary cta__action">Sign up now<i class="glyphicon glyphicon-menu-right"></i></a>
</div>