<section class="c-text-component c-block-expand" role="complementary">
    <a href="#" class="c-block-expand__control">I can’t find my school in the list</a>
    <div class="c-block-expand__content">
        <h3>If you can’t find your school in the list, it may be because you’re not be eligible for a free CPR kit.</h3>
        <p>To be eligible, you must:</p>
        <ul>
            <li>be a UK-based secondary school</li>
            <li>teach students between 14 and 16</li>
        </ul>
        <p>If you think your school is eligible, try searching again, or <a href="#">contact us</a>.</p>
    </div>
</section>