<section class="c-boost-donation hidden">
    <div class="c-boost-donation__wrap">
        <img src="assets/img/Gift-Aid-logo.png" alt="giftaid it logo"/>
        <h2>Boost your donation by 25%</h2>
        <p>If you’re a UK taxpayer and add Gift Aid your donation it is worth 25% more to us at no extra cost to you!</p>
        
        <!-- FORM element : #9b : TYPE = CHECKBOX -->                
        <div class="g-forms__element" id="g-forms__element__9b">

            <div class="g-forms__checkbox">
            
                <input type="checkbox" id="g-forms__element-checkbox__9b" data-parsley-required="false" aria-required="false"
                aria-invalid="false" aria-describedby="g-forms__element-checkbox-label__9b">
    
                <label for="g-forms__element-checkbox__9b" id="g-forms__element-checkbox-label__9b">Yes, I am a UK taxpayer and would like the BHF to reclaim the tax on this donation.</label>
            
            </div>
        </div>
    </div>
</section>
