<section class="c-event-promo-banner" role="complementary"> 
    <div class="c-event-promo-banner__image" style="background-image: url('assets/img/mvc/diana1440.png');"></div>
    <div class="c-event-promo-banner__wrap is-pulled-right">
        <div class="c-event-promo-banner__content">
            <h2>
                <a href="">Gifts in wills</a>
            </h2>
            <p>Gifts in Wills fund half our research and help people like Jaydn complete their story.</p>

            <a href="#" class="cta cta__secondary is-paprika-on-white">Leave a gift in your will<i class="glyphicon glyphicon-menu-right"></i></a>
        </div>
    </div>
</section>
