<section class="c-conditions">
    <div class="c-conditions__core">
        
        <div class="c-conditions__core--header">    
            <h2>Browse Conditions</h2>
            <ul class="c-conditions__core--controls">
                <li><a href="#" class="active">A - C</a></li>
                <li><a href="#">D - N</a></li>
                <li><a href="#">O - Z</a></li>
            </ul>
        </div>

        <div class="c-conditions__core--results">

            <div class="active">
                <ul>
                    <li><a href="#">Acute coronary syndromes</a></li>
                    <li><a href="#">Angina</a></li>
                    <li><a href="#">Aortic aneurysmal disease</a></li>
                    <li><a href="#">Aortic dissection</a></li>
                    <li><a href="#">Aortic narrowing</a></li>
                    <li><a href="#">Arrhythmia</a></li>
                    <li><a href="#">Arrhythmogenic right ventricular cardiomyopathy (ARVC)</a></li>
                    <li><a href="#">Atrial fibrillation (AF)</a></li>
                    <li><a href="#">Brugada syndrome</a></li>
                </ul>
                <ul>
                    <li><a href="#">Cardiac arrest</a></li>
                    <li><a href="#">Cardiomyopathy</a></li>
                    <li><a href="#">Carotid artery disease</a></li>
                    <li><a href="#">Catecholaminergic polymorphic ventricular tachcardia (CPVT)</a></li>
                    <li><a href="#">Coarctation of the aorta</a></li>
                    <li><a href="#">Congenital heart disease</a></li>
                    <li><a href="#">Coronary artery disease (including angina)</a></li>
                </ul>
            </div> 

            <div>
                <ul>
                    <li><a href="#">Diabetic angiopathy</a></li>
                    <li><a href="#">Dilated cardiomyopathy</a></li>
                    <li><a href="#">Endocarditis</a></li>
                    <li><a href="#">Heart attack</a></li>
                    <li><a href="#">Heart failure (HFrEF and HFpeF)</a></li>
                    <li><a href="#">Heart transplant rejection</a></li>
                    <li><a href="#">Heart valve diseases</a></li>
                    <li><a href="#">Hypercoagulable states</a></li>
                    <li><a href="#">Irregular heartbeat</a></li>
                </ul>
                <ul>
                    <li><a href="#">Kawasaki disease</a></li>
                    <li><a href="#">Long QT syndrome</a></li>
                    <li><a href="#">Lymphatic disease</a></li>
                    <li><a href="#">Marfan syndrome</a></li>
                    <li><a href="#">Microvascular disease</a></li>
                    <li><a href="#">Myocardial infarction</a></li>
                    <li><a href="#">Myocarditis</a></li>
                </ul>
            </div> 

            <div>
                <ul>
                    <li><a href="#">Pericarditis (acute and chronic)</a></li>
                    <li><a href="#">Peripartum cardiomyopathy</a></li>
                    <li><a href="#">Peripheral artery disease</a></li>
                    <li><a href="#">Pre-eclampsia</a></li>
                    <li><a href="#">Pulmonary embolism</a></li>
                    <li><a href="#">Pulmonary hypertension</a></li>
                    <li><a href="#">Rhythm conduction disorders</a></li>
                </ul>
                <ul>
                    <li><a href="#">Sepsis</a></li>
                    <li><a href="#">Spontaneous coronary artery dissection (SCAD)</a></li>
                    <li><a href="#">Stroke (ischaemic and haemorrhagic)</a></li>
                    <li><a href="#">Sudden cardiac death</a></li>
                    <li><a href="#">Takotsubo cardiomyopathy</a></li>
                    <li><a href="#">Vascular dementia</a></li>
                    <li><a href="#">Wolff-Parkinson-White syndrome</a></li>
                </ul>
            </div>

        </div>

    </div>
 
    {% include 'c-nav-conditions.njk' %}

</section>
