<section class="c-curved-image-and-text" role="complementary">
    <div class="c-curved-image-and-text__item" style="background-image: url('assets/img/mvc/couple945x530.png');"></div>

    <div class="c-curved-image-and-text__item">
        <div class="c-curved-image-and-text__copy">
            <h2>
                <a href="#">Learn how to save a life</a>
            </h2>
            <p>Learn CPR and join our nation of lifesavers. <a href="#">You can watch</a> our CPR videos, book a place on a course, and order CPR training kits.</p>
            <ul>
                <li>Example <a href="#">link</a> in text</li>
            </ul>
        </div>
        <a href="#" class="cta cta__secondary is-white-on-red">Join our nation of lifesavers<i class="glyphicon glyphicon-menu-right"></i></a>
    </div>
</section>
