<section class="c-curved-image-and-text" role="complementary">
    <div class="c-curved-image-and-text__item" style="background-image: url('assets/img/mvc/couple945x530.png');"></div>

    <div class="c-curved-image-and-text__item">
        <div class="c-curved-image-and-text__copy">
            <h2><a href="#">Get support with a condition</a></h2>

            <h3>Information and support</h3>
            <p>Whether you are a patient or know someone with a condition, we are here for you. The BHF can provide reliable information about heart and circulatory diseases, and their risk factors, along with advice on how to prevent them.</p>
            <p><a href="#">Get support</a></p>

            <h3>Conditions list</h3>
            <p>Want to learn more about a specific condition affecting you or a loved one? Search our list of conditions and get the information you need to understand heart and circulatory diseases.</p>
            <p><a href="#">Search for a condition</a></p>
        </div>
    </div>
</section>
