<!-- BE developers: Replace [DOC_URL] (absolute) -->
<a href="[DOC_URL]" class="c-download-callout" target="_blank" aria-label="Document download">
    <span>Our fundraising pack (467kb)</span>
    <span class="bhfi bhfi-download"></span>
    </ul>
</a>
