<section class="c-donate" id="c-donate__form">
    <div class="c-donate__wrap">
        <h2>Add a donation</h2>
        <p>If you want to support our life saving research even further, you can add more to your £20 donation. With your help, we can achieve our vision of a world without heart and circulatory diseases. A world without heartbreak. We’ve made great progress, but there is more work to do. </p>

        <div class="c-donate__form">
            <div class="c-donate__amounts">
                <div class="c-donate__presets is-monthly">
                    <div>
                        <input class="c-donate__amount" type="button" value="£10">
                    </div>
                    <div>
                        <input class="c-donate__amount" type="button" value="£25">
                    </div>
                    <div>
                        <input class="c-donate__amount" type="button" value="£50">
                    </div>
                </div>
                <div class="c-donate__presets is-single">
                    <div>
                        <input class="c-donate__amount" type="button" value="£75">
                    </div>
                    <div>
                        <input class="c-donate__amount" type="button" value="£100">
                    </div>
                    <div>
                        <input class="c-donate__amount" type="button" value="£125">
                    </div>
                </div>
                <div class="c-donate__other">
                    <label for="c-donate__donation-amount">Other amount </label>
                    <i class="c-donate__other-amount-wrap">
                        <input type="text" name="donation-amount" id="c-donate__other-donation-amount" class="c-donate__donation-amount">
                    </i>
                    <input type="submit" value="Add to basket">
                </div>
            </div>
        </div>
    </div>
</section>