<!-- BIKE -->
<section class="c-events-legend is-beginner is-intermediate is-advanced"><!-- is-beginner -->
    <h2>Bike</h2>
    <ul>
        <li>
            <div><img src="assets/img/events-bike-1.png" alt="Beginner events icon - Bike" /></div>
            <span>Beginner</span>
        </li>
        <li>
            <div><img src="assets/img/events-bike-2.png" alt="Intermediate events icon - Bike" /></div>
            <span>Intermediate</span>
        </li>
        <li>
            <div><img src="assets/img/events-bike-3.png" alt="Advanced events icon - Bike"/></div>
            <span>Advanced</span>
        </li>
    </ul>
</section>
<!-- TREK -->
<section class="c-events-legend is-beginner is-intermediate is-advanced is-trek">
    <h2>Trek</h2>
    <ul>
        <li>
            <div><img src="assets/img/events-trek-1.png" alt="Beginner events icon - Trek" /></div>
            <span>Beginner</span>
        </li>
        <li>
            <div><img src="assets/img/events-trek-2.png" alt="Intermediate events icon - Trek" /></div>
            <span>Intermediate</span>
        </li>
        <li>
            <div><img src="assets/img/events-trek-3.png" alt="Advanced events icon - Trek"/></div>
            <span>Advanced</span>
        </li>
    </ul>
</section>
<!-- SWIM -->
<section class="c-events-legend is-beginner is-intermediate is-advanced is-swim">
    <h2>Swim</h2>
    <ul>
        <li>
            <div><img src="assets/img/events-swim-1.png" alt="Beginner events icon - Swim" /></div>
            <span>Beginner</span>
        </li>
        <li>
            <div><img src="assets/img/events-swim-2.png" alt="Intermediate events icon - Swim" /></div>
            <span>Intermediate</span>
        </li>
        <li>
            <div><img src="assets/img/events-swim-3.png" alt="Advanced events icon - Swim"/></div>
            <span>Advanced</span>
        </li>
    </ul>
</section>
<!-- RUN -->
<section class="c-events-legend is-beginner is-intermediate is-advanced is-run">
    <h2>Run</h2>
    <ul>
        <li>
            <div><img src="assets/img/events-run-1.png" alt="Beginner events icon - Run" /></div>
            <span>Beginner</span>
        </li>
        <li>
            <div><img src="assets/img/events-run-2.png" alt="Intermediate events icon - Run" /></div>
            <span>Intermediate</span>
        </li>
        <li>
            <div><img src="assets/img/events-run-3.png" alt="Advanced events icon - Run"/></div>
            <span>Advanced</span>
        </li>
    </ul>
</section>