{# <section class="c-find-the-bhf-near-you is-flipped" role="complementary"> #}
<section class="c-find-the-bhf-near-you" role="complementary">
    <div class="c-find-the-bhf-near-you__item">
        <div class="c-find-the-bhf-near-you__copy">
            <h2><a href="#">Find the BHF near you</a></h2>

            <p>Find your local BHF shop, drop-off points, support group, CPR training or fundraising group.</p>

            <form action="#" class="c-find-the-bhf-near-you__form">
                <input type="text" placeholder="Enter postcode" />
                <input type="submit" value="Search" />
            </form>
        </div>
    </div>
    <div class="c-find-the-bhf-near-you__item">
        <img src="assets/img/mvc/kids-2x.png" alt="Image alt text">
    </div>
</section>
