<div class="hero">
    <div class="hero__half">
        <div class="hero__logo">
            Logo image
        </div>
        <div class="hero__content">
            <div class="hero__breadcrumbs">
                > how you can help
            </div>
            <div class="hero__copy">
                <h1>
                    How you can help
                </h1>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                </p>
                <a href="_#" class="hero__cta">Donate</a>
            </div>
        </div>
    </div>
    <div class="hero__half"></div>
</div>