<ul class="c-main-menu">
    <li class="c-main-menu__item">
        <a href="" class="c-main-menu__link">What we do</a>
    </li>
    <li class="c-main-menu__item">
        <a href="" class="c-main-menu__link">Conditions</a>
    </li>
    <li class="c-main-menu__item">
        <a href="" class="c-main-menu__link">Risk factors</a>
    </li>
    <li class="c-main-menu__item">
        <a href="" class="c-main-menu__link">Heart health</a>
    </li>
    <li class="c-main-menu__item">
        <a href="" class="c-main-menu__link">Shop</a>
    </li>
</ul>
