<section class="c-media-component" data-pos="0" aria-label="Carousel media slideshow" aria-live="polite">
    <div class="c-media-component__copy">
        <p>Lorem imsum ...</p>
    </div>
    <div class="c-media-component__counter" aria-label="Slide number / total">
        <span class="c-media-component__counter-nth"></span>
        <span class="c-media-component__counter-of"> of </span>
        <span class="c-media-component__counter-total"></span>
    </div>
    <div class="c-media-component__slides">

        <div class="c-media-component__slide c-media-component__slide--has-image" aria-hidden="true" data-header="Image title 1" data-content="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip  1...">
            <img class="c-media-component__slide-image lazy" alt="Image description" data-orientation="landscape" src="https://animatedanatomy.com/images/16-9-dummy-image6.jpg">
        </div>

        <div class="c-media-component__slide c-media-component__slide--has-image" aria-hidden="true" data-header="Image title 1" data-content="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip  1...">
            <img class="c-media-component__slide-image lazy" alt="Image description" data-orientation="landscape" src="" data-src="https://animatedanatomy.com/images/16-9-dummy-image6.jpg">
        </div>

        <div class="c-media-component__slide c-media-component__slide--has-video c-media-component__slide--has-youtube" aria-hidden="true" data-youtube-video="U5jWRucNwAQ" data-header="Video title 2" data-content="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip">
            <iframe title="Unique video description 2" data-loader="youtube" data-src="U5jWRucNwAQ" data-video-src="https://www.youtube.com/embed/U5jWRucNwAQ?rel=0&amp;autoplay=0&amp;showinfo=0&amp;wmode=transparent&amp;fs=1&amp;enablejsapi=1" class="c-media-component__modal-iframe lazy" type="text/html" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
        </div>

        <div class="c-media-component__slide c-media-component__slide--has-image" aria-hidden="true" data-header="Image title 1" data-content="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip  1...">
            <img class="c-media-component__slide-image lazy" alt="Image description" data-orientation="portrait" src="" data-src="https://i.pinimg.com/736x/6e/c5/02/6ec50255b8e875a86055f0e451d7797a--modern-paintings-face-paintings.jpg">
        </div>

        <div class="c-media-component__slide c-media-component__slide--has-image" aria-hidden="true" data-header="Image title 1" data-content="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip  1...">
            <img class="c-media-component__slide-image lazy" alt="Image description" data-orientation="landscape" src="" data-src="https://animatedanatomy.com/images/16-9-dummy-image6.jpg">
        </div>

        <div class="c-media-component__slide c-media-component__slide--has-image" aria-hidden="true" data-header="Image title 1" data-content="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip  1...">
            <img class="c-media-component__slide-image lazy" alt="Image description" data-orientation="landscape" src="" data-src="https://animatedanatomy.com/images/16-9-dummy-image6.jpg">
        </div>

        <div class="c-media-component__slide c-media-component__slide--has-video c-media-component__slide--has-youtube" aria-hidden="true" data-youtube-video="O5YX5xg8Seg" data-header="Video title 2" data-content="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip">
            <iframe title="Unique video description 3" data-loader="youtube" data-src="O5YX5xg8Seg" data-video-src="https://www.youtube.com/embed/O5YX5xg8Seg?rel=0&amp;autoplay=0&amp;showinfo=0&amp;wmode=transparent&amp;fs=1&amp;enablejsapi=1" class="c-media-component__modal-iframe lazy" type="text/html" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
        </div>

        <div class="c-media-component__slide c-media-component__slide--has-image" aria-hidden="true" data-header="Image title 1" data-content="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip  1...">
            <img class="c-media-component__slide-image lazy" alt="Image description" data-orientation="portrait" src="" data-src="https://i.pinimg.com/736x/6e/c5/02/6ec50255b8e875a86055f0e451d7797a--modern-paintings-face-paintings.jpg">
        </div>

        <div class="c-media-component__slide c-media-component__slide--has-image" aria-hidden="true" data-header="Image title 1" data-content="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip  1...">
            <img class="c-media-component__slide-image lazy" alt="Image description" data-orientation="landscape" src="" data-src="https://animatedanatomy.com/images/16-9-dummy-image6.jpg">
        </div>

        <div class="c-media-component__slide c-media-component__slide--has-image" aria-hidden="true" data-header="Image title 1" data-content="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip  1...">
            <img class="c-media-component__slide-image lazy" alt="Image description" data-orientation="landscape" src="" data-src="https://animatedanatomy.com/images/16-9-dummy-image6.jpg">
        </div>

        <div class="c-media-component__slide c-media-component__slide--has-video c-media-component__slide--has-youtube" aria-hidden="true" data-youtube-video="C3E-rcOHwik" data-header="Video title 2" data-content="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip">
            <iframe title="Unique video description 4" data-loader="youtube" data-src="C3E-rcOHwik" data-video-src="https://www.youtube.com/embed/C3E-rcOHwik?rel=0&amp;autoplay=0&amp;showinfo=0&amp;wmode=transparent&amp;fs=1&amp;enablejsapi=1" class="c-media-component__modal-iframe lazy" type="text/html" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
        </div>

        <div class="c-media-component__slide c-media-component__slide--has-image" aria-hidden="true" data-header="Image title 1" data-content="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip  1...">
            <img class="c-media-component__slide-image lazy" alt="Image description" data-orientation="portrait" src="" data-src="https://i.pinimg.com/736x/6e/c5/02/6ec50255b8e875a86055f0e451d7797a--modern-paintings-face-paintings.jpg">
        </div>

        <div class="c-media-component__slide c-media-component__slide--has-video c-media-component__slide--has-youtube" aria-hidden="false" data-youtube-video="sRb7mSGMIcw" data-header="Video title 1" data-content="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip">
            <iframe title="Unique video description 1" src="https://www.youtube.com/embed/sRb7mSGMIcw?rel=0&amp;autoplay=0&amp;showinfo=0&amp;wmode=transparent&amp;fs=1&amp;enablejsapi=1" class="c-media-component__modal-iframe" type="text/html" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="" data-gtm-yt-inspected-459932_678="true" id="859017737"></iframe>
        </div>

    </div>

    <div class="c-media-component__controls">
        <div class="c-media-component__left-arrow">
            <button class="bhfi bhfi-arrow-left" disabled="disabled" role="button" aria-label="Previous slide"></button>
        </div>
        <div class="c-media-component__right-arrow">
            <button class="bhfi bhfi-arrow-right" role="button" aria-label="Next slide"></button>
        </div>
        <div class="c-media-component__expand">
            <button class="bhfi bhfi-expand" role="button" aria-label="Open current slide in modal box"></button>
        </div>
    </div>

    <div class="c-media-component__modal" aria-hidden="true">
        <!-- Modal content -->
        <div class="c-media-component__modal-content">
            <span class="c-media-component__close-btn bhfi bhfi-close-circle"></span>
            <div class="c-media-component__modal-body">
                <img src="" alt="Image description" class="c-media-component__modal-image" data-orientation="landscape">
                <iframe src="" title="Unique video description 5" class="c-media-component__modal-iframe" type="text/html" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            
                <!-- Navigation arrows -->
                <div class="c-media-component__modal__arrow-nav">
                    <div class="c-media-component__left-arrow c-media-component__modal-body__left-arrow">
                        <button class="bhfi bhfi-arrow-left" disabled="disabled" role="button" aria-label="Previous slide"></button>
                    </div>
                    <div class="c-media-component__right-arrow c-media-component__modal-body__right-arrow">
                        <button class="bhfi bhfi-arrow-right" role="button" aria-label="Next slide"></button>
                    </div>
                </div>
            </div>
            <div class="c-media-component__modal-footer">
                <!-- Placeholder for modal navigation items -->
                <div class="c-media-component__modal-footer-navigation"></div>
                <h4></h4>
                <p></p>
            </div>
        </div>
    </div>
</section>