{% if headerNav == 'microsite'%}

    <div class="g-screen-mobile"></div>

    <a href="#" class="g-nav-close is-pull-down"><span class="bhfi bhfi-closemobile" aria-hidden="true"></span>Close</a>

    <nav class="g-nav-mobile is-microsite-nav" aria-label="British Heart Foundation primary mobile navigation" role="menubar" aria-hidden="true">

        <!-- MAIN MOBILE NAV -->
        <ul role="menubar" aria-label="Main primary navigation list">
            <li>
                <a href="https://www.bhf.org.uk/how-you-can-help/donate/bhf-big-wins/lottery" role="menuitem" tabindex="0">consequat</a>
            </li>
            <li>
                <a href="#" role="menuitem" tabindex="0">Lorem</a>
            </li>
            <li>
                <a href="#" role="menuitem" tabindex="0">ipsum</a>
            </li>
            <li>
                <a href="#" role="menuitem" tabindex="0">dolor sit amet</a>
            </li>
            <li>
                <a href="#" role="menuitem" tabindex="0">consectetur</a>
            </li>
            {# <li>
                <a href="#" role="menuitem" class="button" tabindex="0">Link 4</a>
            </li> #}
        </ul>

        <div class="g-nav-mobile__footer">
            <a href="#" class="cta cta__primary is-white-on-red">Sign up to Dechox<i class="glyphicon glyphicon-menu-right"></i></a>
        </div>
    </nav>

{% else %}
<div class="g-screen-mobile"></div>

<a href="#" class="g-nav-close"><span class="bhfi bhfi-closemobile" aria-hidden="true"></span>Close</a>

<nav class="g-nav-mobile" aria-label="British Heart Foundation primary mobile navigation"  aria-hidden="true">
    
    <!-- SEARCH + BUTTONS -->
    <div class="g-nav-mobile__header">
        <!-- form code imported from sitecore -->
        <form action="/landing-page1" class="form-inline  text-left" data-wffm="" data-wffm-ajax="True" data-wffm-redirect="/search/all" enctype="multipart/form-data" id="wffmfc537408d3c14284bfd9d538769e0331" method="post" role="form">
            <input name="__RequestVerificationToken" type="hidden" value="boKlm-wOiHBGoXpizJhMjJWpNjCiBDT_ROYHAocc8yhCxZ6RrrA9kF4qBpOmhvCSsm35S1AsQmi-A7WvhgzXDE8hWAvNMz5ZNmVu6VYPH7U1feC_gz7gCdZWLqKk5ILQ0"><input id="" name="wffmfc537408d3c14284bfd9d538769e0331.Id" type="hidden" value="fc537408-d3c1-4284-bfd9-d538769e0331"><input id="wffmfc537408d3c14284bfd9d538769e0331_FormItemId" name="wffmfc537408d3c14284bfd9d538769e0331.FormItemId" type="hidden" value="{70CDB626-5FE5-41C8-858D-6315FA9294B4}">
            <div class="has-error has-feedback">
                <div class="validation-summary-valid" data-valmsg-summary="true">
                    <ul class="list-group">
                        <li style="display:none"></li>
                    </ul>
                </div>
            </div>
            <div class="form-group">
                <input id="wffmfc537408d3c14284bfd9d538769e0331_Sections_0__Fields_0__Id" name="wffmfc537408d3c14284bfd9d538769e0331.Sections[0].Fields[0].Id" type="hidden" value="{83A9D930-0B55-4256-8A10-BFDA1D6D966C}">
                <label class="control-label sr-only" for="wffmfc537408d3c14284bfd9d538769e0331_Sections_0__Fields_0__Value">Search</label>
                <input class=" form-control text-box single-line" data-val="true" data-val-length="The field Search must be a string with a minimum length of 3 and a maximum length of 256." data-val-length-max="256" data-val-length-min="3" id="wffmfc537408d3c14284bfd9d538769e0331_Sections_0__Fields_0__Value" name="wffmfc537408d3c14284bfd9d538769e0331.Sections[0].Fields[0].Value" placeholder="Search" style="" type="text" value="">
                <span class="field-validation-valid help-block sr-only" data-valmsg-for="wffmfc537408d3c14284bfd9d538769e0331.Sections[0].Fields[0].Value" data-valmsg-replace="true"></span>
            </div>
            <input class="btn  btn-default" type="submit" value="Search">
        </form>
        <a href="#" class="g-nav-mobile__header--button" tabindex="0">Book a collection</a>
        <a href="#" class="g-nav-mobile__header--button g-nav-mobile__header--donate" tabindex="0">Donate</a>
    </div>

    <!-- MAIN MOBILE NAV -->
    <ul class="g-nav-mobile__main" aria-label="British Heart Foundation - Main primary navigation list" itemscope itemtype="http://schema.org/SiteNavigationElement">
        <li>
            <!-- $navControl -->
            <a href="#" class="g-nav-mobile__link" aria-haspopup="true" aria-expanded="false" aria-label="Select to expand submenu" tabindex="0">Information &amp; support <i class="glyphicon glyphicon-menu-right"></i></a>
            <!-- SUBNAV LEVEL 1 - Information & Support -->
            <div class="g-nav-mobile__nav" aria-hidden="true"> 
                <a href="#" class="g-nav-mobile__back"  tabindex="0"><i class="glyphicon glyphicon-menu-left"></i> Back</a>
                <a href="#"  tabindex="0">Information &amp; support</a>
                <ul role="menu" aria-label="Information & Support - Mobile Navigation">
                    <li>
                        <a href="#" class="g-nav-mobile__nav--link"  aria-haspopup="true" aria-expanded="false" tabindex="0">Conditions <i class="glyphicon glyphicon-menu-right"></i></a>
                        <!-- SUBNAV LEVEL 2 -->
                        <div class="g-nav-mobile__nav--subnav" aria-label="Conditions - Navigation" aria-hidden="true" role="menu">
                            <a href="#" class="g-nav-mobile__back"  tabindex="0"><i class="glyphicon glyphicon-menu-left"></i> Back to Information &amp; support</a>
                            <a href="#">Conditions</a> 
                            <ul>
                                <li><a href="http://www.google.com" >Find a condition</a></li>
                                <li><a href="#" itemprop="url">Most searched conditions</a></li>
                                <li><a href="#" itemprop="url">Find the cure </a></li>
                                <li><a href="#" itemprop="url">Donate now</a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href="#" class="g-nav-mobile__nav--link"  aria-haspopup="true" aria-expanded="false" tabindex="0">Risk factors <i class="glyphicon glyphicon-menu-right"></i></a>
                        <!-- SUBNAV LEVEL 2 -->
                        <div class="g-nav-mobile__nav--subnav" aria-label="Risk factors - Navigation" aria-hidden="true" role="menu">
                            <a href="#" class="g-nav-mobile__back"  tabindex="0"><i class="glyphicon glyphicon-menu-left"></i> Back to Information &amp; support</a>
                            <a href="#">Risk factors</a>
                            <ul>
                                <li><a href="#" itemprop="url">Smoking</a></li>
                                <li><a href="#" itemprop="url">Your weight and heart disease</a></li>
                                <li><a href="#" itemprop="url">High cholesterol</a></li>
                                <li><a href="#" itemprop="url">High cholesterol FB1</a></li>
                                <li><a href="#" itemprop="url">High cholesterol FB2</a></li>
                                <li><a href="#" itemprop="url">High cholesterol FB3</a></li>
                                <li><a href="#" itemprop="url">Diabetes</a></li>
                                <li><a href="#" itemprop="url">High blood pressure</a></li>
                                <li><a href="#" itemprop="url">High blood pressure FB1</a></li>
                                <li><a href="#" itemprop="url">High blood pressure FB2</a></li>
                                <li><a href="#" itemprop="url">High blood pressure FB3</a></li>
                                <li><a href="#" itemprop="url">Whart's your heart age?</a></li>
                                <li><a href="#" itemprop="url">Family history</a></li>
                                <li><a href="#" itemprop="url">Research into risk factors</a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href="#" class="g-nav-mobile__nav--link"  aria-haspopup="true" aria-expanded="false" tabindex="0">Support <i class="glyphicon glyphicon-menu-right"></i></a>
                        <!-- SUBNAV LEVEL 2 -->
                        <div class="g-nav-mobile__nav--subnav" aria-label="Support - Navigation" aria-hidden="true" role="menu">
                             <a href="#" class="g-nav-mobile__back"  tabindex="0"><i class="glyphicon glyphicon-menu-left"></i> Back to Information &amp; support</a>
                             <a href="#">Support</a>
                            <ul>
                                <li><a href="#" itemprop="url">Healthy living</a></li>
                                <li><a href="#" itemprop="url">Your ethnicity and heart disease</a></li>
                                <li><a href="#" itemprop="url">Health advice and emotional support</a></li>
                                <li><a href="#" itemprop="url">Practical advice </a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href="#" class="g-nav-mobile__nav--link"  aria-haspopup="true" aria-expanded="false" tabindex="0">Online community <i class="glyphicon glyphicon-menu-right"></i></a>
                        <!-- SUBNAV LEVEL 2 -->
                        <div class="g-nav-mobile__nav--subnav" aria-label="Online community - Navigation" aria-hidden="true" role="menu">
                            <a href="#" class="g-nav-mobile__back"  tabindex="0"><i class="glyphicon glyphicon-menu-left"></i> Back to Information &amp; support</a>
                            <a href="#">Online community</a>
                            <ul>
                                <li><a href="#" itemprop="url">About our Online community</a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href="#" class="g-nav-mobile__nav--promo"  aria-haspopup="true" aria-expanded="false" tabindex="0">Heart Helpline <i class="glyphicon glyphicon-menu-right"></i></a>
                    </li>
                    <li>
                        <a href="#" class="g-nav-mobile__nav--link"  aria-haspopup="true" aria-expanded="false" tabindex="0">Tests <i class="glyphicon glyphicon-menu-right"></i></a>
                        <!-- SUBNAV LEVEL 2 -->
                        <div class="g-nav-mobile__nav--subnav" aria-label="Tests - Navigation" aria-hidden="true" role="menu">
                            <a href="#" class="g-nav-mobile__back"  tabindex="0"><i class="glyphicon glyphicon-menu-left"></i> Back to Information &amp; support</a>
                            <a href="#">Tests</a>
                            <ul>
                                <li><a href="#" itemprop="url">Anglogram</a></li>
                                <li><a href="#" itemprop="url">Blood tests</a></li>
                                <li><a href="#" itemprop="url">Checking your pulse</a></li>
                                <li><a href="#" itemprop="url">Chest x-ray</a></li>
                                <li><a href="#" itemprop="url">Echocardiogram</a></li>
                                <li><a href="#" itemprop="url">ECG</a></li>
                                <li><a href="#" itemprop="url">Electrophysiological studies</a></li>
                                <li><a href="#" itemprop="url">Exercise EDG </a></li>
                                <li><a href="#" itemprop="url">Implantable loop recorders</a></li>
                                <li><a href="#" itemprop="url">MRI scans</a></li>
                                <li><a href="#" itemprop="url">Physical assessment</a></li>
                                <li><a href="#" itemprop="url">Radionuclide Test</a></li>
                                <li><a href="#" itemprop="url">Tilt test</a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href="#" class="g-nav-mobile__nav--link"  aria-haspopup="true" aria-expanded="false" tabindex="0">Treatments <i class="glyphicon glyphicon-menu-right"></i></a>
                        <!-- SUBNAV LEVEL 2 -->
                        <div class="g-nav-mobile__nav--subnav" aria-label="Treatments - Navigation" aria-hidden="true" role="menu">
                            <a href="#" class="g-nav-mobile__back"  tabindex="0"><i class="glyphicon glyphicon-menu-left"></i> Back to Information &amp; support</a>
                            <a href="#">Treatments</a>
                            <ul>
                                <li><a href="#" itemprop="url">Podcast</a></li>
                                <li><a href="#" itemprop="url">Heart Matters</a></li>
                                <li><a href="#" itemprop="url">Find the cure</a></li>
                                <li><a href="#" itemprop="url">Cardiomyopathy</a></li>
                                <li><a href="#" itemprop="url">Echocardiogram</a></li>
                                <li><a href="#" itemprop="url">Ablation</a></li>
                                <li><a href="#" itemprop="url">Cardioversion</a></li>
                                <li><a href="#" itemprop="url">Coronary angioplasty and stents</a></li>
                                <li><a href="#" itemprop="url">Coronary bypass surgery</a></li>
                                <li><a href="#" itemprop="url">Implantable cardioverter defribrilator (ICD)</a></li>
                                <li><a href="#" itemprop="url">Medicines for heart conditions</a></li>
                                <li><a href="#" itemprop="url">Pacemakers</a></li>
                                <li><a href="#" itemprop="url">Statins</a></li>
                                <li><a href="#" itemprop="url">TAVI</a></li>
                                <li><a href="#" itemprop="url">Heart valve surgery</a></li> 
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href="#" class="g-nav-mobile__nav--link"  aria-haspopup="true" aria-expanded="false" tabindex="0">How your heart works <i class="glyphicon glyphicon-menu-right"></i></a>
                        <!-- SUBNAV LEVEL 2 -->
                        <div class="g-nav-mobile__nav--subnav" aria-label="Treatments - Navigation" aria-hidden="true" role="menu">
                            <a href="#" class="g-nav-mobile__back"  tabindex="0"><i class="glyphicon glyphicon-menu-left"></i> Back to Information &amp; support</a>
                            <a href="#">Treatments</a>
                            <ul>
                                <li><a href="#" itemprop="url">Know your heart </a></li>
                                <li><a href="#" itemprop="url">How a healthy heart works</a></li>
                                <li><a href="#" itemprop="url">Your heart and circulation</a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href="#" class="g-nav-mobile__nav--link"  aria-haspopup="true" aria-expanded="false" tabindex="0">BHF booklets and guides <i class="glyphicon glyphicon-menu-right"></i></a>
                         <!-- SUBNAV LEVEL 2 -->
                        <div class="g-nav-mobile__nav--subnav" aria-label="BHF booklets and guides - Navigation" aria-hidden="true" role="menu">
                            <a href="#" class="g-nav-mobile__back"  tabindex="0"><i class="glyphicon glyphicon-menu-left"></i> Back to Information &amp; support</a>
                            <a href="#">BHF booklets and guides</a>
                            <ul>
                                <li><a href="#" itemprop="url">Heart Matters</a></li>
                                <li><a href="#" itemprop="url">Campaigning toolkit</a></li>
                                <li><a href="#" itemprop="url">Business case toolkit</a></li>
                                <li><a href="#" itemprop="url">Health at work</a></li>
                                <li><a href="#" itemprop="url">Conditions</a></li>
                                <li><a href="#" itemprop="url">Treatments and tests</a></li>
                                <li><a href="#" itemprop="url">Healthy living</a></li>
                                <li><a href="#" itemprop="url">Fundraising</a></li>
                                <li><a href="#" itemprop="url">For children and young people</a></li>
                                <li><a href="#" itemprop="url">For professionals</a></li>
                                <li><a href="#" itemprop="url">Statistics</a></li>
                                <li><a href="#" itemprop="url">Welsh</a></li>
                                <li><a href="#" itemprop="url">BHF</a></li>
                                <li><a href="#" itemprop="url">DVDs</a></li>
                                <li><a href="#" itemprop="url">Heart of the community newsletter</a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href="#" class="g-nav-mobile__nav--promo"  aria-haspopup="true" aria-expanded="false" tabindex="0">Heart Matters magazine</a>
                    </li>
                </ul>
            </div>
        </li>
        <li>
            <a href="#" class="g-nav-mobile__link" aria-haspopup="true" aria-expanded="false" aria-label="Select to expand submenu" tabindex="0">How you can help <i class="glyphicon glyphicon-menu-right"></i></a>
            <!-- SUBNAV LEVEL 1 - How you can help -->
            <div class="g-nav-mobile__nav" aria-hidden="true"> 
                <a href="#" class="g-nav-mobile__back"  tabindex="0"><i class="glyphicon glyphicon-menu-left"></i> Back</a>
                <a href="#"  tabindex="0">How you can help</a>
                <ul role="menu" aria-label="How you can help"> 
                    <li>
                        <a href="#" class="g-nav-mobile__nav--link"  aria-haspopup="true" aria-expanded="false" tabindex="0">Donate <i class="glyphicon glyphicon-menu-right"></i></a>
                        <!-- SUBNAV LEVEL 2 -->
                        <div class="g-nav-mobile__nav--subnav" aria-label="Donate - Navigation" aria-hidden="true" role="menu">
                            <a href="#" class="g-nav-mobile__back"  tabindex="0"><i class="glyphicon glyphicon-menu-left"></i> How you can help</a>
                            <a href="#">Donate</a>
                            <ul>
                                <li><a href="#" itemprop="url">Donate money</a></li>
                                <li><a href="#" itemprop="url">How your donations are spent</a></li>
                                <li><a href="#" itemprop="url">Give in memory</a></li>
                                <li><a href="#" itemprop="url">Give in celebration</a></li>
                                <li><a href="#" itemprop="url">Leave a gift in your will</a></li>
                                <li><a href="#" itemprop="url">Donate goods to our shops</a></li>
                                <li><a href="#" itemprop="url">Major gifts</a></li>
                                <li><a href="#" itemprop="url">Raffles</a></li>
                                <li><a href="#" itemprop="url">Donate through your salary</a></li>
                                <li><a href="#" itemprop="url">Give as you Live</a></li>
                                <li><a href="#" itemprop="url">Other ways to donate</a></li>
                            </ul>
                        </div>
                    </li> 
                    <li>
                        <a href="#" class="g-nav-mobile__nav--link"  aria-haspopup="true" aria-expanded="false" tabindex="0">Fundraise <i class="glyphicon glyphicon-menu-right"></i></a>
                        <!-- SUBNAV LEVEL 2 -->
                        <div class="g-nav-mobile__nav--subnav" aria-label="Fundraise - Navigation" aria-hidden="true" role="menu">
                            <a href="#" class="g-nav-mobile__back"  tabindex="0"><i class="glyphicon glyphicon-menu-left"></i> How you can help</a>
                            <a href="#">Fundraise</a>
                            <ul> 
                                <li><a href="#" itemprop="url">Pay in your fundraising</a></li>
                                <li><a href="#" itemprop="url">DECHOX</a></li>
                                <li><a href="#" itemprop="url">Fundraising ideas</a></li>
                                <li><a href="#" itemprop="url">Do your own fundraising event</a></li>
                                <li><a href="#" itemprop="url">Get help with fundraising</a></li> 
                                <li><a href="#" itemprop="url">Fundraising for businesses</a></li>
                                <li><a href="#" itemprop="url">Become a fundraising volunteer</a></li>
                                <li><a href="#" itemprop="url">Fundraising for schools</a></li>
                                <li><a href="#" itemprop="url">Local fundraising groups</a></li>
                                <li><a href="#" itemprop="url">Tandem Skydive</a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href="#" class="g-nav-mobile__nav--link"  aria-haspopup="true" aria-expanded="false" tabindex="0">Take part in an event  <i class="glyphicon glyphicon-menu-right"></i></a>
                        <!-- SUBNAV LEVEL 2 -->
                        <div class="g-nav-mobile__nav--subnav" aria-label="Take part in an event - Navigation" aria-hidden="true" role="menu">
                            <a href="#" class="g-nav-mobile__back"  tabindex="0"><i class="glyphicon glyphicon-menu-left"></i> How you can help</a>
                            <a href="#">Take part in an event</a>
                            <ul>
                                <li><a href="#" itemprop="url">Bike rides</a></li>
                                <li><a href="#" itemprop="url">Run</a></li>
                                <li><a href="#" itemprop="url">Walks and treks</a></li>
                                <li><a href="#" itemprop="url">More sports</a></li>
                                <li><a href="#" itemprop="url">Overseas challenges</a></li> 
                                <li><a href="#" itemprop="url">Skydives</a></li>
                                <li><a href="#" itemprop="url">Schools</a></li>
                                <li><a href="#" itemprop="url">Social events</a></li>
                                <li><a href="#" itemprop="url">Fundraising materials</a></li>
                                <li><a href="#" itemprop="url">Fundraising for an event</a></li> 
                                <li><a href="#" itemprop="url">Spread the word</a></li>
                                <li><a href="#" itemprop="url">Pay in your fundraising</a></li>
                                <li><a href="#" itemprop="url">Run for us</a></li>
                                <li><a href="#" itemprop="url">Training zone</a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href="#" class="g-nav-mobile__nav--link"  aria-haspopup="true" aria-expanded="false" tabindex="0">Leave a gift in your will <i class="glyphicon glyphicon-menu-right"></i></a>
                        <!-- SUBNAV LEVEL 2 -->
                        <div class="g-nav-mobile__nav--subnav" aria-label="Take part in an event - Navigation" aria-hidden="true" role="menu">
                            <a href="#" class="g-nav-mobile__back"  tabindex="0"><i class="glyphicon glyphicon-menu-left"></i> How you can help</a>
                            <a href="#">Leave a gift in your will</a>
                            <ul>
                                <li><a href="#" itemprop="url">FAQs</a></li>
                                <li><a href="#" itemprop="url">Glossary of terms</a></li>
                                <li><a href="#" itemprop="url">Tax guide</a></li>
                                <li><a href="#" itemprop="url">Tribute funds</a></li>
                                <li><a href="#" itemprop="url">Contact us</a></li>
                                <li><a href="#" itemprop="url">How to write or amend a will</a></li>
                                <li><a href="#" itemprop="url">Why include us in your will</a></li>
                                <li><a href="#" itemprop="url">How to include us in your will</a></li>
                                <li><a href="#" itemprop="url">Legacy events</a></li>
                                <li><a href="#" itemprop="url">Solicitors and executors</a></li>
                                <li><a href="#" itemprop="url">Free Wills Network</a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href="#" class="g-nav-mobile__nav--link"  aria-haspopup="true" aria-expanded="false" tabindex="0">Volunteer <i class="glyphicon glyphicon-menu-right"></i></a>
                        <!-- SUBNAV LEVEL 2 -->
                        <div class="g-nav-mobile__nav--subnav" aria-label="Volunteer - Navigation" aria-hidden="true" role="menu">
                            <a href="#" class="g-nav-mobile__back"  tabindex="0"><i class="glyphicon glyphicon-menu-left"></i> How you can help</a>
                            <a href="#">Volunteer</a>
                            <ul>
                                <li><a href="#" itemprop="url">Why volunteer?</a></li>
                                <li><a href="#" itemprop="url">How you can volunteer</a></li>
                                <li><a href="#" itemprop="url">Register your interest</a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href="#" class="g-nav-mobile__nav--link"  aria-haspopup="true" aria-expanded="false" tabindex="0">Get involved in your area <i class="glyphicon glyphicon-menu-right"></i></a>
                        <!-- SUBNAV LEVEL 2 -->
                        <div class="g-nav-mobile__nav--subnav" aria-label="Get involved in your area - Navigation" aria-hidden="true" role="menu">
                            <a href="#" class="g-nav-mobile__back"  tabindex="0"><i class="glyphicon glyphicon-menu-left"></i> How you can help</a>
                            <a href="#">Get involved in your area</a>
                            <ul>
                                <li><a href="#" itemprop="url">Supporter events</a></li>
                                <li><a href="#" itemprop="url">Heart heroes</a></li>
                                <li><a href="#" itemprop="url">Making change happen across the UK</a></li>
                                <li><a href="#" itemprop="url">Local appeals</a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href="#" class="g-nav-mobile__nav--link"  aria-haspopup="true" aria-expanded="false" tabindex="0">Learn how to save a life <i class="glyphicon glyphicon-menu-right"></i></a>
                        <!-- SUBNAV LEVEL 2 -->
                        <div class="g-nav-mobile__nav--subnav" aria-label="Learn how to save a life - Navigation" aria-hidden="true" role="menu">
                            <a href="#" class="g-nav-mobile__back"  tabindex="0"><i class="glyphicon glyphicon-menu-left"></i> How you can help</a>
                            <a href="#">Learn how to save a life</a>
                            <ul>    
                                <li><a href="#" itemprop="url">What is CPR</a></li>
                                <li><a href="#" itemprop="url">How to do CPR</a></li>
                                <li><a href="#" itemprop="url">CPR training kits</a></li>
                                <li><a href="#" itemprop="url">Hands only CPR</a></li>
                                <li><a href="#" itemprop="url">Defibrillators</a></li> 
                                <li><a href="#" itemprop="url">CPR training for school</a></li>
                                <li><a href="#" itemprop="url">CPR training for workplaces</a></li>
                                <li><a href="#" itemprop="url">CPR training for communities</a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href="#" class="g-nav-mobile__nav--link"  aria-haspopup="true" aria-expanded="false" tabindex="0">Promote health at work <i class="glyphicon glyphicon-menu-right"></i></a>
                        <!-- SUBNAV LEVEL 2 -->
                        <div class="g-nav-mobile__nav--subnav" aria-label="Promote health at work - Navigation" aria-hidden="true" role="menu">
                            <a href="#" class="g-nav-mobile__back"  tabindex="0"><i class="glyphicon glyphicon-menu-left"></i> How you can help</a>
                            <a href="#">Promote health at work</a>
                            <ul>
                                <li><a href="#" itemprop="url">About health at work</a></li>
                                <li><a href="#" itemprop="url">The business case</a></li>
                                <li><a href="#" itemprop="url">Healthy ideas</a></li> 
                                <li><a href="#" itemprop="url">Events</a></li>
                                <li><a href="#" itemprop="url">Case studies</a></li>
                                <li><a href="#" itemprop="url">Resources</a></li> 
                                <li><a href="#" itemprop="url">What is workplace health</a></li>
                                <li><a href="#" itemprop="url">Join health at work</a></li>
                                <li><a href="#" itemprop="url">Our members</a></li> 
                                <li><a href="#" itemprop="url">Contact us</a></li>
                                <li><a href="#" itemprop="url">Health at work blogs</a></li>
                                <li><a href="#" itemprop="url">Latest news</a></li> 
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href="#" class="g-nav-mobile__nav--link"  aria-haspopup="true" aria-expanded="false" tabindex="0">Become a corporate partner <i class="glyphicon glyphicon-menu-right"></i></a>
                        <!-- SUBNAV LEVEL 2 -->
                        <div class="g-nav-mobile__nav--subnav" aria-label="Become a corporate partner - Navigation" aria-hidden="true" role="menu">
                            <a href="#" class="g-nav-mobile__back"  tabindex="0"><i class="glyphicon glyphicon-menu-left"></i> How you can help</a>
                            <a href="#">Become a corporate partner</a>
                            <ul>
                                <li><a href="#" itemprop="url">Why partner with us</a></li>
                                <li><a href="#" itemprop="url">Ways to support the BHF</a></li>
                                <li><a href="#" itemprop="url">Our corporate partners</a></li> 
                                <li><a href="#" itemprop="url">Fundraising at work</a></li>
                                <li><a href="#" itemprop="url">Donate time to our shops</a></li>
                                <li><a href="#" itemprop="url">Get in touch</a></li> 
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href="#" class="g-nav-mobile__nav--link"  aria-haspopup="true" aria-expanded="false" tabindex="0">Campaigning <i class="glyphicon glyphicon-menu-right"></i></a>
                        <!-- SUBNAV LEVEL 2 -->
                        <div class="g-nav-mobile__nav--subnav" aria-label="Campaigning - Navigation" aria-hidden="true" role="menu">
                            <a href="#" class="g-nav-mobile__back"  tabindex="0"><i class="glyphicon glyphicon-menu-left"></i> How you can help</a>
                            <a href="#">Campaigning</a>
                            <ul>
                                <li><a href="#" itemprop="url">Our campaign successes </a></li>
                                <li><a href="#" itemprop="url">Every child a lifesaver</a></li>
                                <li><a href="#" itemprop="url">Patient involvement at the BHF</a></li> 
                                <li><a href="#" itemprop="url">Prescription charges</a></li>
                                <li><a href="#" itemprop="url">The cardio and vascular coalition</a></li>
                                <li><a href="#" itemprop="url">Organ donation</a></li>
                                <li><a href="#" itemprop="url">Campaigning toolkit</a></li>
                                <li><a href="#" itemprop="url">Heart watch</a></li>
                                <li><a href="#" itemprop="url">CVD outcomes stragegy</a></li>
                                <li><a href="#" itemprop="url">Parliamentary report on living with heart failure</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </li>
        <li>
            <a href="#" class="g-nav-mobile__link" aria-haspopup="true" aria-expanded="false" aria-label="Select to expand submenu" tabindex="0">Shop <i class="glyphicon glyphicon-menu-right"></i></a>
            <!-- SUBNAV LEVEL 1 - Shop -->
            <div class="g-nav-mobile__nav" aria-hidden="true"> 
                <a href="#" class="g-nav-mobile__back"  tabindex="0"><i class="glyphicon glyphicon-menu-left"></i> Back</a>
                <a href="#"  tabindex="0">Shop</a>
                <ul role="menu" aria-label="Shop">
                    <li>
                        <a href="#" class="g-nav-mobile__nav--promo" target="new"  tabindex="0">Find your local shop</a>
                    </li> 
                    <li>
                        <a href="#" class="g-nav-mobile__nav--link"  aria-haspopup="true" aria-expanded="false" tabindex="0">Furniture and electrical shops <i class="glyphicon glyphicon-menu-right"></i></a>
                        <!-- SUBNAV LEVEL 2 -->
                        <div class="g-nav-mobile__nav--subnav" aria-label="Furniture and electrical shops - Navigation" aria-hidden="true" role="menu">
                            <a href="#" class="g-nav-mobile__back"  tabindex="0"><i class="glyphicon glyphicon-menu-left"></i> Shop</a>
                            <a href="#">Furniture and electrical shops</a>
                            <ul>
                                <li><a href="#" itemprop="url">Book a free furniture collection</a></li>
                                <li><a href="#" itemprop="url">Find your local shop</a></li>
                                <li><a href="#" itemprop="url">Shop directory</a></li>
                                <li><a href="#" itemprop="url">Shopping inspiration</a></li>
                                <li><a href="#" itemprop="url">Interior design</a></li>
                                <li><a href="#" itemprop="url">Upcycling</a></li> 
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href="#" class="g-nav-mobile__nav--link"  aria-haspopup="true" aria-expanded="false" tabindex="0">High street shops <i class="glyphicon glyphicon-menu-right"></i></a>
                        <!-- SUBNAV LEVEL 2 -->
                        <div class="g-nav-mobile__nav--subnav" aria-label="High street shops - Navigation" aria-hidden="true" role="menu">
                            <a href="#" class="g-nav-mobile__back"  tabindex="0"><i class="glyphicon glyphicon-menu-left"></i> Shop</a>
                            <a href="#">High street shops</a>
                            <ul> 
                                <li><a href="#" itemprop="url">Find your local shop</a></li>
                                <li><a href="#" itemprop="url">Shop directory</a></li>
                                <li><a href="#" itemprop="url">A little love note goes a long way</a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href="#" class="g-nav-mobile__nav--promo" target="new"  tabindex="0">Online shop</a>
                    </li> 
                    <li>
                        <a href="http://stores.ebay.co.uk/British-Heart-Foundation-Shop" class="g-nav-mobile__nav--promo" target="new"  tabindex="0">Ebay shop <span class="bhfi bhfi-extlink"></span></a> 
                    </li>
                    <li>
                        <a href="#" class="g-nav-mobile__nav--link" target="new"  tabindex="0">Donate to our shops <i class="glyphicon glyphicon-menu-right"></i></a>
                        <!-- SUBNAV LEVEL 2 -->
                        <div class="g-nav-mobile__nav--subnav" aria-label="Donate to our shops - Navigation" aria-hidden="true" role="menu">
                            <a href="#" class="g-nav-mobile__back"  tabindex="0"><i class="glyphicon glyphicon-menu-left"></i> Shop</a>
                            <a href="#">Donate to our shops</a>
                            <ul>
                                <li><a href="#" itemprop="url">Find the BHF near you</a></li>
                                <li><a href="#" itemprop="url">Book a furniture collection</a></li>
                                <li><a href="#" itemprop="url">ebay shop</a></li>
                                <li><a href="#" itemprop="url">Fire labels</a></li>
                                <li><a href="#" itemprop="url">Small items collection</a></li>
                                <li><a href="#" itemprop="url">Items we can't sell</a></li>
                                <li><a href="#" itemprop="url">GiftAid</a></li>
                                <li><a href="#" itemprop="url">Bag it Beat it</a></li>
                                <li><a href="#" itemprop="url">House clearance services</a></li>
                                <li><a href="#" itemprop="url">How your donations help</a></li>
                                <li><a href="#" itemprop="url">Partner with our shops</a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href="#" class="g-nav-mobile__nav--link" target="new"  tabindex="0">Volunteer in our shops <i class="glyphicon glyphicon-menu-right"></i></a>
                        <!-- SUBNAV LEVEL 2 -->
                        <div class="g-nav-mobile__nav--subnav" aria-label="Volunteer in our shops - Navigation" aria-hidden="true" role="menu">
                            <a href="#" class="g-nav-mobile__back"  tabindex="0"><i class="glyphicon glyphicon-menu-left"></i> Shop</a>
                            <a href="#">Volunteer in our shops</a>
                            <ul>
                                <li><a href="#" itemprop="url">Volunteer</a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href="#" class="g-nav-mobile__nav--link" target="new"  tabindex="0">Shop customer services <i class="glyphicon glyphicon-menu-right"></i></a>
                        <!-- SUBNAV LEVEL 2 -->
                        <div class="g-nav-mobile__nav--subnav" aria-label="Shop customer services - Navigation" aria-hidden="true" role="menu">
                            <a href="#" class="g-nav-mobile__back"  tabindex="0"><i class="glyphicon glyphicon-menu-left"></i> Shop</a>
                            <a href="#">Shop customer services</a>
                            <ul>    
                                <li><a href="#" itemprop="url">Storage of purchased furniture and electrical items</a></li>
                                <li><a href="#" itemprop="url">Payments and receipts</a></li>
                                <li><a href="#" itemprop="url">Our refund policy</a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href="#" class="g-nav-mobile__nav--promo" target="new"  tabindex="0">Small badges. Big heart</a> 
                    </li>
                </ul>
            </div>
        </li>
        <li>
            <a href="#" class="g-nav-mobile__link" aria-haspopup="true" aria-expanded="false" aria-label="Select to expand submenu" tabindex="0">What we do <i class="glyphicon glyphicon-menu-right"></i></a>
            <!-- SUBNAV LEVEL 1 - What we do -->
            <div class="g-nav-mobile__nav" aria-hidden="true"> 
                <a href="#" class="g-nav-mobile__back"  tabindex="0"><i class="glyphicon glyphicon-menu-left"></i> Back</a>
                <a href="#"  tabindex="0">What we do</a>
                <ul role="menu" aria-label="What we do">
                    <li>
                        <a href="#" class="g-nav-mobile__nav--link"  aria-haspopup="true" aria-expanded="false" tabindex="0">Our research <i class="glyphicon glyphicon-menu-right"></i></a>
                        <!-- SUBNAV LEVEL 2 -->
                        <div class="g-nav-mobile__nav--subnav" aria-label="Our research - Navigation" aria-hidden="true" role="menu">
                            <a href="#" class="g-nav-mobile__back"  tabindex="0"><i class="glyphicon glyphicon-menu-left"></i> What we do</a>
                            <a href="#">Our research</a>
                            <ul>
                                <li><a href="#" itemprop="url">Heart disease research</a></li>
                                <li><a href="#" itemprop="url">Circulatory conditions research</a></li>
                                <li><a href="#" itemprop="url">Risk factors research</a></li>
                                <li><a href="#" itemprop="url">Our successes</a></li>
                                <li><a href="#" itemprop="url">Conditions we research</a></li>
                                <li><a href="#" itemprop="url">Grand challenge</a></li>
                                <li><a href="#" itemprop="url">Research projects</a></li>
                                <li><a href="#" itemprop="url">Do more together</a></li> 
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href="#" class="g-nav-mobile__nav--link"  aria-haspopup="true" aria-expanded="false" tabindex="0">How we've made heart history <i class="glyphicon glyphicon-menu-right"></i></a>
                        <!-- SUBNAV LEVEL 2 -->
                        <div class="g-nav-mobile__nav--subnav" aria-label="How we've made heart history - Navigation" aria-hidden="true" role="menu">
                            <a href="#" class="g-nav-mobile__back"  tabindex="0"><i class="glyphicon glyphicon-menu-left"></i> What we do</a>
                            <a href="#">How we've made heart history</a>
                            <ul>
                                <li><a href="#" itemprop="url">Our successes</a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href="#" class="g-nav-mobile__nav--promo"  tabindex="0">How your donations help</a>
                    </li>
                    <li>
                        <a href="#" class="g-nav-mobile__nav--link"  aria-haspopup="true" aria-expanded="false" tabindex="0">News, articles &amp; blogs <i class="glyphicon glyphicon-menu-right"></i></a>
                        <!-- SUBNAV LEVEL 2 -->
                        <div class="g-nav-mobile__nav--subnav" aria-label="News, articles & blogs - Navigation" aria-hidden="true" role="menu">
                            <a href="#" class="g-nav-mobile__back"  tabindex="0"><i class="glyphicon glyphicon-menu-left"></i> What we do</a>
                            <a href="#">News, articles &amp; blogs</a>
                            <ul>
                                <li><a href="#" itemprop="url">Sign up to our research newsletter</a></li>
                                <li><a href="#" itemprop="url">Science blogs</a></li>
                                <li><a href="#" itemprop="url">Contact the press office</a></li>
                                <li><a href="#" itemprop="url">News by category</a></li>
                                <li><a href="#" itemprop="url">Conditions we research</a></li>
                                <li><a href="#" itemprop="url">News archive</a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href="#" class="g-nav-mobile__nav--promo"  tabindex="0">Influencing change</a>
                    </li>
                    <li>
                        <a href="#" class="g-nav-mobile__nav--link"  aria-haspopup="true" aria-expanded="false" tabindex="0">Our people <i class="glyphicon glyphicon-menu-right"></i></a>
                        <!-- SUBNAV LEVEL 2 -->
                        <div class="g-nav-mobile__nav--subnav" aria-label="Our people - Navigation" aria-hidden="true" role="menu">
                            <a href="#" class="g-nav-mobile__back"  tabindex="0"><i class="glyphicon glyphicon-menu-left"></i> What we do</a>
                            <a href="#">Our people</a>
                            <ul>
                                <li><a href="#" itemprop="url">Exec</a></li>
                                <li><a href="#" itemprop="url">Trustees</a></li>
                                <li><a href="#" itemprop="url">Patron</a></li>
                                <li><a href="#" itemprop="url">Ambassadors &amp; celeb supporters</a></li>
                                <li><a href="#" itemprop="url">Professors</a></li>
                                <li><a href="#" itemprop="url">Advisory council</a></li>
                                <li><a href="#" itemprop="url">Fundraising board</a></li>
                                <li><a href="#" itemprop="url">Governance</a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href="#" class="g-nav-mobile__nav--promo"  tabindex="0">Find the BHF near you</a>
                    </li>
                    <li>
                        <a href="#" class="g-nav-mobile__nav--promo"  tabindex="0">Annual review and accounts</a>
                    </li>
                    <li>
                        <a href="#" class="g-nav-mobile__nav--promo"  tabindex="0">Our strategy</a>
                    </li>
                </ul>
            </div>
        </li>
        <li>
            <a href="#"  tabindex="0">For professionals</a>
        </li>
        {% if headerVariant == 'my-account-loggedin'%}
            <li><a href="#"  tabindex="0">My account</a></li>
            <li><a href="#"  tabindex="0">Sign out</a></li>
        {% else %}
            {% if headerVariant == 'my-account'%}
                <li><a href="#"  tabindex="0">Sign in/Register</a></li>
            {% else %}
                <li><a href="#"  tabindex="0">Login / Register</a></li>
            {% endif %}
        {% endif %}
    </ul>
</nav>
{% endif %}