<aside>
    <nav class="g-nav-secondary" aria-label="British Heart Foundation secondary navigation">
        <h2>Common conditions</h2>
        <ul itemscope itemtype="http://schema.org/SiteNavigationElement">
            <li><a href="#" itemprop="url">Angina</a></li>
            <li><a href="#" itemprop="url">Cardiac arrest</a></li>
            <li><a href="#" itemprop="url">Heart attack</a></li>
            <li><a href="#" itemprop="url">Heart failure</a></li>
            <li><a href="#" itemprop="url">Stroke</a></li>
        </ul>
    </nav>
</aside>