<aside>
    <nav class="g-nav-secondary" aria-label="British Heart Foundation secondary navigation">
        <h2>Also in this section</h2>
        <ul itemscope itemtype="http://schema.org/SiteNavigationElement">
            <li><a href="#" itemprop="url">Donate</a></li>
            <li><a href="#" itemprop="url">Health advice and emotional support</a></li>
            <li><a href="#" itemprop="url">Living with a heart condition</a></li>
            <li><a href="#" class="menuitem-active">Caring for a heart patient</a></li>
            <li><a href="#" itemprop="url">Information for families and loved ones</a></li>
            <li><a href="#" itemprop="url">Cardiac rehabilitation</a></li>
            <li><a href="#" itemprop="url">Emotional support / counsellling</a></li>
            <li><a href="#" itemprop="url">Heart support groups</a></li>
            <li><a href="#" itemprop="url">Sex and heart conditions</a></li>
            <li><a href="#" itemprop="url">Community</a></li>
            <li><a href="#" itemprop="url">Information for women (with heart conditions)</a></li>
            <li><a href="#" itemprop="url">Patient involvement at the BHF</a></li>
        </ul>
    </nav>
</aside>