<section class="c-news" role="complementary">
    <h2>News from the BHF</h2>

    <div class="c-news__wrap">
        <div class="c-news__item">
            <div class="c-news__image">
                <img src="assets/img/mvc/treat-2x.png" alt="Alt text goes here">
            </div>

            <div class="c-news__copy">
                <div>
                    <ul>
                        <li>
                            <h3>
                                <a href="#">People with hidden heart conditions to be detected thanks to Miles Frost Fund</a>
                            </h3>
                            <p>12 March 2018</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="c-news__item">
            <div class="c-news__copy">
                <div>
                    <ul>
                        <li>
                            <h3>
                                <a href="#">Urgent need to improve survival for heart attack patients with pre-existing conditions</a>
                            </h3>
                            <p>12 March 2018</p>
                        </li>
                        <li>
                            <h3>
                                <a href="#">Stars to turn out for football game to fundraise for The British Heart Foundation</a>
                            </h3>
                            <p>11 March 2018</p>
                        </li>
                        <li>
                            <h3>
                                <a href="#">Brits spend a billion more hours watching sport than breaking a sweat</a>
                            </h3>
                            <p>10 March 2018</p>
                        </li>
                        <li>
                            <h3>
                                <a href="#">Our commitment to safeguarding at the BHF</a>
                            </h3>
                            <p>10 March 2018</p>
                        </li>
                    </ul>
                </div>
            </div>

            <a href="#" class="cta cta__secondary is-white-on-red">View all news<i class="glyphicon glyphicon-menu-right"></i></a>
        </div>
    </div>
</section>
