<!-- BEGIN COMPONENT - Prize Tiles x1 --> 

<section class="cs-shelf__wrapper">
    <div class="cs-shelf__row is-narrow">
        <div class="c-section-header">
            <h2>Prize tiles x1</h2>
            <p>Track your steps every day this November and complete your own personal step challenge. Choose a starting target, which increases by 500 steps every day. By the end of the month, you will have walked more than 200,000 steps!</p>
        </div>
    </div>

    <div class="cs-shelf__row is-equal-thirds">
        <div class="cs-shelf__column">
    
        </div>
        <div class="cs-shelf__column"> 

            <div class="c-single">
                <div class="c-single__image">
                    <img src="assets/img/product/icon-raise-money.png" alt="" />
                </div>
                <div class="c-single__copy">
                    <h2>Raise money</h2>
                    <p>The money you raise will help the BHF realise its vision of a world without heart and circulatory diseases.</p>
                </div>
            </div>

        </div>
        <div class="cs-shelf__column">

        </div>
    </div>
</section>
<!-- END COMPONENT -->


<!-- BEGIN COMPONENT - Prize Tiles x2  --> 
<section class="cs-shelf__wrapper is-grey">
    <div class="cs-shelf__row is-narrow">
        <div class="c-section-header">
            <h2>Prize tiles x2</h2>
        </div>
    </div>

    <div class="cs-shelf__row is-equal-quaters">
        <div class="cs-shelf__column">
        </div>
        <div class="cs-shelf__column"> 

            <div class="c-single">
                <div class="c-single__image">
                    <img src="assets/img/product/icon-raise-money.png" alt="" />
                </div>
                <div class="c-single__copy">
                    <h2>Raise money</h2>
                    <p>The money you raise will help the BHF realise its vision of a world without heart and circulatory diseases.</p>
                </div>
            </div>

        </div>
        <div class="cs-shelf__column">

            <div class="c-single">
                <div class="c-single__image">
                    <img src="assets/img/product/icon-get-support.png" alt="" />
                </div>
                <div class="c-single__copy">
                    <h2>Get support</h2>
                    <p>We’ll help you do it with plenty of fundraising and organising support.</p>
                </div>
            </div>    

        </div>
        <div class="cs-shelf__column">
        </div>
    </div>
</section>
    <!-- END COMPONENT -->


<!-- BEGIN COMPONENT - Prize Tiles x3  --> 
<section class="cs-shelf__wrapper">
    <div class="cs-shelf__row is-narrow">
        <div class="c-section-header">
            <h2>Prize tiles x3</h2>
        </div>
    </div>

    <div class="cs-shelf__row is-equal-thirds">
        <div class="cs-shelf__column">
            
            <div class="c-single">
                <div class="c-single__image">
                    <img src="assets/img/product/icon-feel-fearless.png" alt="" />
                </div>
                <div class="c-single__copy">
                    <h2>Feel fearless</h2>
                    <p>Don’t let fear spoil your fun. Kicking fear to the curb feels great, especially when it’s for a good cause.</p>
                </div>
            </div>

        </div>
        <div class="cs-shelf__column"> 

            <div class="c-single">
                <div class="c-single__image">
                    <img src="assets/img/product/icon-raise-money.png" alt="" />
                </div>
                <div class="c-single__copy">
                    <h2>Raise money</h2>
                    <p>The money you raise will help the BHF realise its vision of a world without heart and circulatory diseases.</p>
                </div>
            </div>

        </div>
        <div class="cs-shelf__column">

            <div class="c-single">
                <div class="c-single__image">
                    <img src="assets/img/product/icon-get-support.png" alt="" />
                </div>
                <div class="c-single__copy">
                    <h2>Get support</h2>
                    <p>We’ll help you do it with plenty of fundraising and organising support.</p>
                </div>
            </div>    

        </div>
    </div>
</section>
<!-- END COMPONENT -->

<!-- BEGIN COMPONENT - Prize Tiles x4  --> 
<section class="cs-shelf__wrapper is-grey">
    <div class="cs-shelf__row is-narrow">
        <div class="c-section-header">
            <h2>Prize tiles x4</h2>
        </div>
    </div>

    <div class="cs-shelf__row is-equal-quaters">
        <div class="cs-shelf__column">
            
            <div class="c-single">
                <div class="c-single__image">
                    <img src="assets/img/product/icon-raise-money.png" alt="" />
                </div>
                <div class="c-single__copy">
                    <h2>Raise money</h2>
                    <p>The money you raise will help the BHF realise its vision of a world without heart and circulatory diseases.</p>
                </div>
            </div>

        </div>
        <div class="cs-shelf__column"> 

            <div class="c-single">
                <div class="c-single__image">
                    <img src="assets/img/product/icon-raise-money.png" alt="" />
                </div>
                <div class="c-single__copy">
                    <h2>Raise money</h2>
                    <p>The money you raise will help the BHF realise its vision of a world without heart and circulatory diseases.</p>
                </div>
            </div>

        </div>
        <div class="cs-shelf__column">

            <div class="c-single">
                <div class="c-single__image">
                    <img src="assets/img/product/icon-get-support.png" alt="" />
                </div>
                <div class="c-single__copy">
                    <h2>Get support</h2>
                    <p>We’ll help you do it with plenty of fundraising and organising support.</p>
                </div>
            </div>    

        </div>
        <div class="cs-shelf__column">

            <div class="c-single">
                <div class="c-single__image">
                    <img src="assets/img/product/icon-raise-money.png" alt="" />
                </div>
                <div class="c-single__copy">
                    <h2>Raise money</h2>
                    <p>The money you raise will help the BHF realise its vision of a world without heart and circulatory diseases.</p>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- END COMPONENT -->

<!-- BEGIN COMPONENT - Prize Tiles x6  --> 
<section class="cs-shelf__wrapper">
    <div class="cs-shelf__row is-narrow">
        <div class="c-section-header">
            <h2>Prize tiles x6</h2>
        </div>
    </div>

    <div class="cs-shelf__row is-equal-thirds">
        <div class="cs-shelf__column">
            
            <div class="c-single">
                <div class="c-single__image">
                    <img src="assets/img/product/icon-feel-fearless.png" alt="" />
                </div>
                <div class="c-single__copy">
                    <h2>Feel fearless</h2>
                    <p>Don’t let fear spoil your fun. Kicking fear to the curb feels great, especially when it’s for a good cause.</p>
                </div>
            </div>

        </div>
        <div class="cs-shelf__column"> 

            <div class="c-single">
                <div class="c-single__image">
                    <img src="assets/img/product/icon-raise-money.png" alt="" />
                </div>
                <div class="c-single__copy">
                    <h2>Raise money</h2>
                    <p>The money you raise will help the BHF realise its vision of a world without heart and circulatory diseases.</p>
                </div>
            </div>

        </div>
        <div class="cs-shelf__column">

            <div class="c-single">
                <div class="c-single__image">
                    <img src="assets/img/product/icon-get-support.png" alt="" />
                </div>
                <div class="c-single__copy">
                    <h2>Get support</h2>
                    <p>We’ll help you do it with plenty of fundraising and organising support.</p>
                </div>
            </div>    

        </div>
    </div>

    <div class="cs-shelf__row is-equal-thirds">
        <div class="cs-shelf__column">
            
            <div class="c-single">
                <div class="c-single__image">
                    <img src="assets/img/product/icon-feel-fearless.png" alt="" />
                </div>
                <div class="c-single__copy">
                    <h2>Feel fearless</h2>
                    <p>Don’t let fear spoil your fun. Kicking fear to the curb feels great, especially when it’s for a good cause.</p>
                </div>
            </div>

        </div>
        <div class="cs-shelf__column"> 

            <div class="c-single">
                <div class="c-single__image">
                    <img src="assets/img/product/icon-raise-money.png" alt="" />
                </div>
                <div class="c-single__copy">
                    <h2>Raise money</h2>
                    <p>The money you raise will help the BHF realise its vision of a world without heart and circulatory diseases.</p>
                </div>
            </div>

        </div>
        <div class="cs-shelf__column">

            <div class="c-single">
                <div class="c-single__image">
                    <img src="assets/img/product/icon-get-support.png" alt="" />
                </div>
                <div class="c-single__copy">
                    <h2>Get support</h2>
                    <p>We’ll help you do it with plenty of fundraising and organising support.</p>
                </div>
            </div>    

        </div>
    </div>
</section>
<!-- END COMPONENT -->