<section class="c-promo-banner animated" role="complementary"> 
    <div class="c-promo-banner__image" style="background-image: url('assets/img/placeholders/promo-banner.jpg');"></div>
    <div class="c-promo-banner__content">
        <h2>
            <a href="#">You're not alone</a>
        </h2>
        <p>When Elizebeth had a heart attack aged 62, her husband Michael became her carer.</p>
        <a href="#" class="cta cta__secondary">Secondary button<i class="glyphicon glyphicon-menu-right"></i></a>
    </div>
</section>