<section class="c-quote" role="complementary">
    <div class="c-quote__copy">
        I am a carer, but I don't think of myself as one. I think that part of loving someone is looking after them. If the boot was on the other foot he'd do the same for me
    </div>
    <div class="c-quote__author">
        <span>Micheal</span>, carer
    </div>
</section>

<section class="c-quote c-quote--is-paprika">
    <div class="c-quote__copy">
        I am a carer, but I don't think of myself as one. I think that part of loving someone is looking after them. If the boot was on the other foot he'd do the same for me
    </div>
    <div class="c-quote__author">
        <span>Micheal</span>, carer
    </div>
</section>

<section class="c-quote c-quote--is-mine-shaft">
    <div class="c-quote__copy">
        I am a carer, but I don't think of myself as one. I think that part of loving someone is looking after them. If the boot was on the other foot he'd do the same for me
    </div>
    <div class="c-quote__author">
        <span>Micheal</span>, carer
    </div>
</section>
