<section class="c-related-articles" role="complementary">
    <h2>Related Articles</h2>
    <article>
        <a href="#">
            <div class="item-content">
                <h1>Financial Support</h1>
                <p>You might find that your heart condition affects you financially. We provide advice on what help and support you can get.</p>
            </div>
        </a>
    </article>
    <article>
        <a href="#">
            <div class="item-content">
                <h1>Heart support groups</h1>
                <p>Heart support groups offer a range of services to anyone with a heart condition and their families. Find a local group here.</p>
            </div>
        </a>
    </article>
    <article>
        <a href="#">
            <div class="item-content">
                <h1>Holidays and travel with a heart condition</h1>
                <p>People with heart conditions can still have a good time on holiday. Advice on how to take care of your heart when travelling.</p>
            </div>
        </a>
    </article>
        
</section>