<!-- HERO [PROTOTYPE] -->
<section class="c-scp-hero">
    <header  itemscope itemtype="http://schema.org/WPHeader"> 
 
        <a href="#" class="g-logo bigbeat animation-beat">
            <span></span>
        </a>

        <div class="c-scp-hero__copy">

            <div class="c-scp-hero__inner">

                {% include '_breadcrumb.njk' %}

                <h1 itemprop="headline">Caring for a heart patient</h1>

                <p>Every day, 6,000 new people takle responsibility of caring someone with a heart condition. This page has information and resources for carers, to help you care for your loved one and to care for youself as well.</p>
            </div>
        </div>
    </header>
    <div class="c-scp-hero__mask">
        <img src="assets/img/mvc/scp-hero-curve.svg" alt="Hero curve mask" />
    </div>
</section>