<!-- HERO [PROTOTYPE] -->
<section class="c-scp-hero">
    <header  itemscope itemtype="http://schema.org/WPHeader"> 
 
        <a href="#" class="g-logo bigbeat animation-beat">
            <span></span>
        </a>

        <div class="c-scp-hero__copy">

            <div class="c-scp-hero__is-full">

                {% include '_breadcrumb.njk' %}

                <h1 itemprop="headline">Conditions</h1>

                <p>It can be confusing and scary to be diagnosed with a condition, especially if you’ve never heard of it before. In this section you can find information on heart and circulatory diseases, plus we tell you how you can get support. </p>
            </div>
        </div>
    </header>
    <div class="c-scp-hero__mask">
        <img src="assets/img/mvc/scp-hero-curve.svg" alt="Hero curve mask" />
    </div>
</section>