<section class="c-search-with-image" role="complementary">
    <div class="c-search-with-image__item">
        <div class="c-search-with-image__copy">
            <h2><a href="#">Order your free CPR kit</a></h2>

            <p>To be eligible for a free Call Push Response kit your school must:</p>

            <ul>
                <li>be a UK-based secondary school</li>
                <li>teach students aged between 14 and 16</li>
            </ul>

            <form action="#" class="c-search-with-image__form" id="g-forms__product-cpr__search">
                <input type="hidden" id="g-forms__product-cpr__schoolID" value="" />
                
                <div class="g-forms__element no-pad"> 
                    <label for="g-forms__product-cpr__searchbox">Find your school</label>
                </div>
                <div class="g-forms__element no-pad">
                    <input type="text" id="g-forms__product-cpr__searchbox" class="g-forms__spinner" placeholder="School address or postcode" spellcheck="false" role="combobox" aria-autocomplete="both" aria-expanded="false" aria-labelledby="g-forms__product-cpr__searchbox"  />
                    <button type="submit" value="Search" class="cta cta__secondary is-white-on-red" />Search <i class="glyphicon glyphicon-menu-right"></i></button>
                </div>
            </form>
        </div>
    </div>
    <div class="c-search-with-image__item">
        <img src="assets/img/mvc/kids-2x.png" alt="Image alt text">
    </div>
</section>