<section class="c-table-prices">
    <table>
        <caption>Prices</caption>
        <tr>
            <td></td>
            <th scope="col">Adults</th>
            <th scope="col">Kids</th>
        </tr>
        <tr>
            <th scope="row">60 miles</th>
            <td>£50.00</td>
            <td>£30.00</td>
        </tr>
        <tr>
            <th scope="row">30 miles</th>
            <td>£30.00</td>
            <td>£15.00</td>
        </tr>
        <tr>
            <th scope="row">On the day</th>
            <td>£70.00</td>
            <td>£35.00</td>
        </tr>
    </table>
</section>