<section class="c-text-and-image" role="complementary">
    <div class="c-text-and-image__item">
        <div class="c-text-and-image__copy">
    
           <div class="c-quote c-quote--is-mine-shaft">
                <div class="c-quote__copy">
                    What a fantastic surprise to win the February raffle! I never expect to win when I enter the raffles, looking at the cheques I send rather as charitable donations.
                </div>
                <div class="c-quote__author">
                    <span>Barbara Moore</span>, £10k raffle winner
                </div>
            </div>
    
            <a href="#" class="cta cta__ghost is-red">View previous winners<i class="glyphicon glyphicon-menu-right"></i></a>
        </div>
    </div>
    <div class="c-text-and-image__item">
        <img src="assets/img/product/fear-tile-public-speaking.png" alt="Image alt text">
    </div>
</section>