{# <section class="c-text-and-image is-flipped" role="complementary"> #}
<section class="c-text-and-image" role="complementary">
    <div class="c-text-and-image__item">
        <div class="c-text-and-image__copy">
            <h2>
                <a href="#">Heading three</a>
            </h2>
            <p>Maecenas sed diam eget risus varius blandit sit amet non magna. Etiam porta sem malesuada magna mollis euismod. Sed posuere consectetur est at lobortis. Lorem ipsum dolor sit amet,  adipiscing elit.</p>
            <a href="#" class="cta cta__secondary is-white-on-red">Donate now<i class="glyphicon glyphicon-menu-right"></i></a>
        </div>
    </div>
    <div class="c-text-and-image__item">
        <img src="assets/img/mvc/kids-2x.png" alt="Image alt text">
    </div>
</section>