<!-- <section class="c-text-with-list is-alpha"> -->
<section class="c-text-with-list">
    
    <div class="c-text-with-list__item">
        <div class="c-text-with-list__copy">
            <h2>How it works</h2>
            <p>If you’re playing our BHF Big Wins Lottery, you’re already entered for the quarterly Superdraw, along with the weekly lottery prize draws. If not, all you need to do to be in with a chance of winning £10,000 is make sure you enter before [cut off date]. </p>
            <a href="#" class="cta cta__secondary is-white-on-red">Secondary button<i class="glyphicon glyphicon-menu-right"></i></a>

        </div>
    </div>
    <div class="c-text-with-list__item">

        <ol>
            <li>Choose between 1 or 2 tickets per week at £1 each</li>
            <li>Complete your entrant and contact details</li>
            <li>Set up your direct debit to confirm your entry</li>
        </ol>

    </div>
</section>
