<section class="c-text-and-image-curved" role="complementary">
    <div class="c-text-and-image-curved__curve">
        <img src="assets/img/svgs/background-shape.svg" alt="Image alt text">
    </div>

    <div class="c-text-and-image-curved__wrap">
            <div class="c-text-and-image-curved__item">
                <div class="c-text-and-image-curved__copy">    
                    <h2>
                        <a href="#">Heading two</a>
                    </h2>
                    <p>Cras mattis consectetur purus <a href="#">sit amet fermentum</a>. Nullam quis risus eget urna mollis ornare vel eu leo. Cras justo ac facilisis in, egestas eget quam. Cras mattis consectetur purus sit amet fermentum.</p>
                    <a href="#" class="cta cta__secondary">Find out more<i class="glyphicon glyphicon-menu-right"></i></a>
                </div>
            </div>
            <div class="c-text-and-image-curved__item">
                <img src="assets/img/mvc/clothes-2x.svg" alt="Image alt text">
            </div>
        </div>
</section>
