<section class="c-text-and-image is-vertical" role="complementary">
    <div class="c-text-and-image__item"> 
        <img src="assets/img/mvc/kids-2x.png" alt="Image alt text">
        <h2>
            <a href="#">Case study title</a>
        </h2>
        <p>The money you raise will help fund lifesaving research into cures and treatments for heart and circulatory diseases – research that would mean the world to families like ***Name*** ’s. </p>
        <p>The money you raise will help fund lifesaving research into cures and treatments for heart and circulatory diseases – research that would mean the world to families like ***Name*** ’s.</p>
        <a class="cta cta__secondary is-white-on-red" href="#">Sign up <i class="glyphicon glyphicon-menu-right"></i></a>   
    </div> 
</section>