<section class="c-three-cards" role="complementary">
    
    <h1>Other events</h1>
    
    <div class="c-three-cards__wrapper">

        <div class="c-three-cards__item">

            <img src="assets/img/mvc/kids-2x.png" alt="Alt text goes here">

            <div class="c-two-cards__copy">
                <div>
                    <h2>
                        <a href="#">Sign up for an event</a>
                    </h2>

                    <p>Looking to push yourself? The BHF has lots of different events you can sign up for that will enable you to test your limits whilst raising money for life saving research. </p>
                </div>
                <div class="c-two-cards__copy-link">
                    <a href="#" class="cta cta__tertiary is-white-on-red">Call to action</a>
                </div>
            </div>
        </div>
        <div class="c-three-cards__item">

            <img src="assets/img/mvc/kids-2x.png" alt="Alt text goes here">

            <div class="c-two-cards__copy">
                <div>
                    <h2>
                        <a href="#">Orginise a fundraiser</a>
                    </h2>

                    <p>There is no limit to the ways you can raise money for the BHF. We have lots of fundraising ideas to get you started, and handy tips and tools to help you make the most of your event idea.</p>
                </div>
                <div class="c-two-cards__copy-link">
                    <a href="#" class="cta cta__tertiary is-white-on-red">Call to action</a>
                </div>
            </div>
        </div>

        <div class="c-three-cards__item">

            <img src="assets/img/mvc/kids-2x.png" alt="Alt text goes here">

            <div class="c-two-cards__copy">
                <div>
                    <h2>
                        <a href="#">Orginise a fundraiser</a>
                    </h2>

                    <p>There is no limit to the ways you can raise money for the BHF. We have lots of fundraising ideas to get you started, and handy tips and tools to help you make the most of your event idea.</p>
                </div>
                <div class="c-two-cards__copy-link">
                    <a href="#" class="cta cta__tertiary is-white-on-red">Call to action</a>
                </div>
            </div>
        </div>
    </div>

</section>
