<section class="c-tiles" role="complementary">
    
    <div class="c-tiles__item">

        <h2>Sign up with BHF</h2>
        <p>Want to sign up through the BHF for this event? You'll need to pay a £25 registration fee and pledge to raise a minimum of £250 (excluding Gift Aid) to secure your charity place with BHF and get lots of support from us in the run up to the big day. Lorem ipsum lorem ipsum ipsum et tu lorem. </p>
        
        <div class="c-tiles__cta">
            <a href="#" class="cta cta__secondary">Sign up for a BHF place<i class="glyphicon glyphicon-menu-right"></i></a>   
        </div>
    </div>
    
    <div class="c-tiles__item">

        <h2>Already got a place?</h2>
        <p>That's great - you've already signed up to an amazing event. There's just one thing left to do now, and that's join team BHF to get all the support you need from us leading up to the big day, and raise money to help us beat heart and circulatory diseases. </p>
        
        <div class="c-tiles__cta">
            <a href="#" class="cta cta__secondary  is-paprika-on-white">Join the team BHF<i class="glyphicon glyphicon-menu-right"></i></a>
        </div>

    </div>
    
</section>
