<section class="c-tiles is-single" role="complementary">
    
    <div class="c-tiles__item">

        <h2>Sign up with BHF</h2>
        <p>Want to sign up through the BHF for this event? You'll need to pay a £25 registration fee and pledge to raise a minimum of £250 (excluding Gift Aid) to secure your charity place with BHF and get lots of support from us in the run up to the big day. Lorem ipsum lorem ipsum ipsum et tu lorem. </p>
        
        <div class="c-tiles__cta">
            <a href="#" class="cta cta__secondary">Sign up for a BHF place<i class="glyphicon glyphicon-menu-right"></i></a>   
        </div>
    </div>
    
    
</section>
