{% if tiles_with_cta_variant == 'one'%}
    <section class="c-tiles-with-cta">
        <div class="c-tiles-with-cta__inner">
            <header>
                <h2>Tile with CTA</h2>
                <p>Subtitle</p>
                <img src="assets/img/product/temp-image-heights-1.png" alt="Take on a tall local landmark or steep view point" />
            </header>
            <p>There are plenty of ways to face your fear in your town or city. Does the thought of climbing a local landmark make your knees knock? Then climb it.</p>
            <a href="#" class="cta cta__secondary is-white-on-red">Secondary button<i class="glyphicon glyphicon-menu-right"></i></a>
        </div>
    </section>  
{% endif %}

{% if tiles_with_cta_variant == 'two'%}
    <section class="c-tiles-with-cta">
        <div class="c-tiles-with-cta__inner">
            <header>
                <h2>Tile with CTA</h2>
                <p>Subtitle</p>
                <img src="assets/img/product/temp-image-heights-2.png" alt="Take on a tall local landmark or steep view point" />
            </header>
            <p>There are plenty of ways to face your fear in your town or city. Does the thought of climbing a local landmark make your knees knock? Then climb it.</p>
            <a href="#" class="cta cta__secondary is-white-on-red">Secondary button<i class="glyphicon glyphicon-menu-right"></i></a>
        </div>
    </section>  
{% endif %}

{% if tiles_with_cta_variant == 'three'%}
    <section class="c-tiles-with-cta">
        <div class="c-tiles-with-cta__inner">
            <header>
                <h2>Tile with CTA</h2>
                <p>Subtitle</p>
                <img src="assets/img/product/temp-image-heights-3.png" alt="Take on a tall local landmark or steep view point" />
            </header>
            <p>There are plenty of ways to face your fear in your town or city. Does the thought of climbing a local landmark make your knees knock? Then climb it.</p>
            <a href="#" class="cta cta__secondary is-white-on-red">Secondary button<i class="glyphicon glyphicon-menu-right"></i></a>
        </div>
    </section>  
{% endif %}