{% if totaliserVariant == 'one'%}
    <section class="c-totaliser" data-api-url="api.json">
        <!-- Accepts 1 or 2 Totaliser options -->
        <div class="c-totaliser__inner is-gradient-red">
            <div class="c-totaliser__item">
                <div class="c-totaliser__item--inner">
                    <h1 class="bhfi bhfi-money-icon">
                        £<span data-total-raised></span>
                    </h1>
                    <p>Funds raised for research</p>
                    
                </div>
            </div>
        </div>
    </section>
{% endif %}

{% if totaliserVariant == 'two'%}
    <section class="c-totaliser" data-api-url="api.json">
        <!-- Accepts 1 or 2 Totaliser options -->
        <div class="c-totaliser__inner is-gradient-red">
            <div class="c-totaliser__item">
                <div class="c-totaliser__item--inner">
                    <h1 class="bhfi bhfi-money-icon">
                        £<span data-total-raised></span>
                    </h1>
                    <p>Funds raised for research</p>
                    
                </div>
            </div>

            <div class="c-totaliser__item">
                <div class="c-totaliser__item--inner">
                    <h1 class="bhfi bhfi-people-icon">
                        <span data-total-connected></span>
                    </h1>
                    <p>Registered Dechoxers</p>
                    
                </div>
            </div>
        </div>
    </section>
{% endif %}

{% if totaliserVariant == 'three'%}
    <section class="c-totaliser" data-api-url="api.json">
        <!-- Accepts 1 or 2 Totaliser options -->
        <div class="c-totaliser__inner is-gradient-grey">
            <div class="c-totaliser__item">
                <div class="c-totaliser__item--inner">
                    <h1 class="bhfi bhfi-money-icon">
                        £<span data-total-raised></span>
                    </h1>
                    <p>Funds raised for research</p>
                    
                </div>
            </div>

            <div class="c-totaliser__item">
                <div class="c-totaliser__item--inner">
                    <h1 class="bhfi bhfi-people-icon">
                        <span data-total-connected></span>
                    </h1>
                    <p>Registered Dechoxers</p>
                </div>
            </div>
        </div>
    </section>
{% endif %}

{% if totaliserVariant == 'four'%}
    <section class="c-totaliser" data-api-url="api.json">
        <!-- Accepts 3 Totaliser options -->
        <div class="c-totaliser__inner is-white is-thirds">
            <div class="c-totaliser__item">
                <div class="c-totaliser__item--inner">
                    <h1 class="bhfi bhfi-people-icon">
                        <span data-total-connected></span>
                    </h1>
                    <p>Registered Dechoxers</p>
                    
                </div>
            </div>

            <div class="c-totaliser__item">
                <div class="c-totaliser__item--inner">
                    <h1 class="bhfi bhfi-money-icon">
                        £<span data-total-raised></span>
                    </h1>
                    <p>Funds raised for research</p>
                </div>
            </div>

            <div class="c-totaliser__item">
                <div class="c-totaliser__item--inner">
                    <h1 class="bhfi bhfi-people-icon">
                        <span data-total-x></span>
                    </h1>
                    <p>Registered Dechoxers</p>
                    
                </div>
            </div>
        </div>
    </section>
{% endif %}