<section class="c-curved-image-and-text" role="complementary">
    <div class="c-curved-image-and-text__item" style="background-image: url('assets/img/mvc/couple945x530.png');"></div>

    <div class="c-curved-image-and-text__item">
        <div class="c-curved-image-and-text__copy">
            <h2>
                What’s in the kit?
            </h2>
            <p>The Call Push Response kit contains everying you need to teach CPR to a class of 30, including:</p>
            <ul>
                <li>30 inflatable dummys</li>
                <li>Training DVD</li>
                <li>Lorem ipsum dolce sit amet</li>
                <li>Lorem ipsum dolce sit amet</li>
                <li>Lorem ipsum dolce sit amet</li>
            </ul>
        </div>
    </div>
</section>
