<!-- HERO [PROTOTYPE] -->
<section class="c-scp-hero">
    <header  itemscope itemtype="http://schema.org/WPHeader"> 
 
        <a href="#" class="g-logo bigbeat animation-beat">
            <span></span>
        </a>

        <div class="c-scp-hero__copy">

            <div class="c-scp-hero__is-full">

                {% include '_breadcrumb.njk' %}

                <h1 class="large" itemprop="headline">CPR kit schools application</h1>

                {# <p>CPR kit schools application</p> #}
            </div>
        </div>
    </header>
    <div class="c-scp-hero__mask">
        <img src="assets/img/mvc/scp-hero-curve.svg" alt="Hero curve mask" />
    </div>
</section>