<!-- HERO [PROTOTYPE] -->
<section class="c-scp-hero">
    <header  itemscope itemtype="http://schema.org/WPHeader"> 
 
        <a href="#" class="g-logo bigbeat animation-beat">
            <span></span>
        </a>

        <div class="c-scp-hero__copy">

            <div class="c-scp-hero__is-full">

                {% include '_breadcrumb.njk' %}

                <h1 itemprop="headline">Sedbergh School</h1>

                <p>Sedbergh, LA10 5RY</p>

                <a href="#" class="c-scp-hero__link">Search for a different school</a>
            </div>
        </div>
    </header>
    <div class="c-scp-hero__mask">
        <img src="assets/img/mvc/scp-hero-curve.svg" alt="Hero curve mask" />
    </div>
</section>