<section class="c-text-component reduced-width">

    <h2 class="large">Great news! It looks like your school already has a Call Push Response kit.</h2>

    <p>Your school is registered as part of the HeartStart scheme. This means you already should have access to a CPR kit, as well as lots of other tools to help you teach a nation of lifesavers. To benefit from these tools, you may need to <a href="#">reaffiliate to the HeartStart scheme</a>.</p>
    <p>Our records show your kit was ordered:</p>

    <p class="large">April 2016</p>
    
    <p>If you need any more information, you can <a href="#">contact us</a>.</p>
    <a href="#" class="cta cta__secondary is-white-on-red">CPR training resources<i class="glyphicon glyphicon-menu-right"></i></a>
</section>