<!-- ************************************** -->
<!-- START: FORM [single step / generic]    -->
<!-- ************************************** -->

<section class="g-forms g-forms-parsley is-grey" role="group">

    <div class="g-forms__breadcrumb">
        <ul>
            <li>Engraving<i>&gt;</i></li>
            <li>Your details<i>&gt;</i></li>
            <li>Checkout<i>&gt;</i></li>
            <li class="current">Confirmation</li>
        </ul>
        <span>Step 4 of 4</span>
    </div>

    <form novalidate aria-label="BHF Heart of Steel - Confirmation">
        
        <div class="g-forms__inner">

            <h1>Confirmation</h1>
            <p>All done. The name you’ve chosen will be immortalised on the Heart of Steel.</p>
            <h3>Thank you so much.</h3>
            <p>It’s thanks to you that we are able to fund research into cures and treatments for heart and circulatory diseases. You are our heroes.</p>
            <p>Your support doesn’t have to end here. There are lots of ways you <a href="#">can fundraise for the BHF</a> and help us beat heartbreak forever. </p>
            <h3>Share your story</h3>
            <p>Let your friends and family know on social media why you decided to get an engraving #HeartOfSteel.</p>

            {% include 'c-social-share.njk' %}


        </div>
    </form> 

</section>  