
<!DOCTYPE html>
<html lang="en" itemscope itemtype="http://schema.org/WebPage"> 
    {% include '_head.njk' %}
    <body class="sitecore-editingmode">

        <div class="cs-shelf__row is-marginless">   
            <div class="cs-shelf__column">
                {% include 'c-nav-master.njk' %}
                {% include 'c-nav-mobile.njk' %}
            </div>
        </div>

        <main class="cd-main-content bhf-typography shelf-reduced-spacing" accesskey="c" itemscope itemprop="mainContentOfPage">        

            <div class="cs-shelf__row is-marginless">
                <div class="cs-shelf__column">
                    {% include 'c-scp-hero__is-full.njk' %}
                </div>
            </div> 

            <div class="cs-shelf__row is-full">
                <div class="cs-shelf__column">
                    {% include 'c-banner.njk' %}
                </div>
            </div>

            <div class="cs-shelf__row is-full">
                <div class="cs-shelf__column">
                    {% include 'c-image-component.njk' %}
                </div>
            </div>

            <div class="cs-shelf__row is-wide-left"> 
                <div class="cs-shelf__column">
                    
                    <!-- COMPONENT -->
                    <section class="c-text-component">
                        <h2>When can I return to work?</h2>

                        <p>The type of heart condition you have, how severe it is, how quickly you recover, and whether your condition is stable will be major factors in how soon you can return to work. You’re more likely to be able to work if your condition is stable and the symptoms are well controlled. It will also depend on what type of work you do.</p>
                        <p>Your GP or heart specialist will help you decide when you are fit enough to return to work. They will also help you to decide whether you can return to full-time work straight away, or if it would be advisable to work part-time to begin with.</p>
                    </section>
                    
                </div>

                <div class="cs-shelf__column"> </div>
            </div>  

            <div class="cs-shelf__row is-equal-thirds">
                <div class="cs-shelf__column">

                    <!-- COMPONENT [empty] -->
                    <section class="c-table-prices">
                        <table>
                            <caption>Prices</caption>
                            <tr>
                                <td></td>
                                <th scope="col">Adults</th>
                                <th scope="col">Kids</th>
                            </tr>
                            <tr>
                                <th scope="row">60 miles</th>
                                <td>£50.00</td>
                                <td>£30.00</td>
                            </tr>
                            <tr>
                                <th scope="row">30 miles</th>
                                <td>£30.00</td>
                                <td>£15.00</td>
                            </tr>
                            <tr>
                                <th scope="row">On the day</th>
                                <td>£70.00</td>
                                <td>£35.00</td>
                            </tr>
                        </table>
                    </section>
                </div>

                <div class="cs-shelf__column">
                    <!-- COMPONENT [empty] -->
                    <!-- BIKE -->
                    <section class="c-events-legend is-beginner is-intermediate is-advanced"><!-- is-beginner -->
                        <h2>Bike</h2>
                        <ul>
                            <li>
                                <div><img src="assets/img/events-bike-1.png" alt="Beginner events icon - Bike" /></div>
                                <span>Beginner</span>
                            </li>
                            <li>
                                <div><img src="assets/img/events-bike-2.png" alt="Intermediate events icon - Bike" /></div>
                                <span>Intermediate</span>
                            </li>
                            <li>
                                <div><img src="assets/img/events-bike-3.png" alt="Advanced events icon - Bike"/></div>
                                <span>Advanced</span>
                            </li>
                        </ul>
                    </section>
                </div>

                <div class="cs-shelf__column">
                
                </div>
            </div>

            <div class="cs-shelf__row is-wide-left"> 
                <div class="cs-shelf__column">
                    
                    <!-- COMPONENT -->
                    {% include 'c-image-component.njk' %}
                    
                </div>
                <div class="cs-shelf__column"> 
                
                </div>
            </div>

            <div class="cs-shelf__row is-wide-left"> 
                <div class="cs-shelf__column">
                    
                    <!-- COMPONENT -->
                    {% include 'c-image-component.njk' %}
                    
                </div>
                <div class="cs-shelf__column"></div>
            </div>  

            <div class="cs-shelf__row is-wide-left">
                <div class="cs-shelf__column">
                    {% include 'c-social-share.njk' %}
                </div>

                <div class="cs-shelf__column">
                
                </div>
            </div>
        </main>
        
        <div class="cs-shelf__row is-marginless">
            <div class="cs-shelf__column">
                {% include '_footer.njk' %}
            </div>
        </div>
    
    
    {% include '_scripts.njk' %}

    </body>
    
</html>
