<!DOCTYPE html>
<html lang="en" itemscope itemtype="http://schema.org/WebPage"> 

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width"/>
        <link rel="stylesheet" type="text/css" href="assets/css/styles-mvc.css"/>
        
        <title>MVC - Hero</title>
    </head>
    <body class="sitecore-editingmode">
        <h1>MVC - Hero</h1>
        <main class="cd-main-content" accesskey="c" itemscope itemprop="mainContentOfPage">
            <div>
                <a href="index.html" class="cta">Return to list</a>
                
                <div class="cs-shelf__row is-marginless">
                    <div class="cs-shelf__column">
                        {# include 'c-main-menu.njk' #}
                    </div>
                </div>
                <div class="cs-shelf__row is-marginless">
                    <div class="cs-shelf__column">
                        {% include '_header.njk' %}
                    </div>
                </div>
            </div>
        </main>
        
        {% include '_scripts.njk' %}
        
    </body>
</html>
