<!DOCTYPE html>
<html lang="en">
    {% include '_head.njk' %}
    <body class="sitecore-editingmode">

        <main class="cd-main-content" accesskey="c">        

                <div class="cs-shelf__row is-marginless">   
                    <div class="cs-shelf__column">
                        <header class="f-header">
 
                            <div class="f-header__bottom">
                            
                                <div class="f-header__brand">
                                    <a href="/" class="f-header__logo" title="British Heart Foundation - Logo" tabindex="0"></a>
                                    <h1><a href="/" title="Form title" tabindex="0">FE Development - MVC Component Library</a></h1>
                                </div>
                                
                            </div> 
                        </header>
                    </div>
                </div>

                <div class="cs-shelf__row is-equal-thirds">
                    <div class="cs-shelf__column">
                            
                            <br/><br/>
 

                            <h3 class="ci-header">Demo Pages</h3>

                            <ul>
                            <li><a href="placeholders.html">Placeholders</a></li>
                            <li><a href="lazy-load.html">Lazy Load</a></li>
                            <li><a href="gmaps-store-finder.html">Store Locator</a></li>
                            <li><a href="headerFooter.html">Header and Footer - TODO</a></li>
                            </ul>

                            <h3 class="ci-header">Font Icons</h3>

                            <ul>
                            <li><a href="assets/fonts/index.html">Icons</a></li>
                            </ul>

                            <h3 class="ci-header">Typography</h3>

                            <ul>
                            <li><a href="typography.html">Typography Demo Texts</a></li>
                            </ul>

                            <h3 class="ci-header">Header Variations</h3>

                            <ul>
                            <li><a href="header-animated.html">Header</a></li>
                            <li><a href="header-copy-v3.html">Header (Basic)</a></li>
                            <li><a href="header-xmas.html">Header (xmas 2018)</a></li>
                            <li><a href="header-copy-v1.html">Header (w/ CTA)</a></li>
                            <li><a href="header-copy-v2.html">Sub Landing Header (w/ Breadcrumb)</a></li>
                            <li><a href="standard-content-page.html">Header (Standard Content Page)</a></li>
                            <li><a href="header-with-myaccount-loggedin.html">Header (with my account)</a></li>
                            <li><a href="header-with-myaccount.html">Header (with login)</a></li>
                            </ul>

                            <h3 class="ci-header">Legacy</h3>

                            <ul>
                            <li><a href="legacy-export.html">Header + Footer</a></li>
                            </ul>

                            <h3 class="ci-header">Core pages</h3>

                            <ul>
                            <li><a href="homepage.html">Homepage</a></li>
                            <li><a href="generic-landing-page.html">Generic landing page</a></li>
                            <li><a href="standard-content-page.html">Standard content Page</a></li>
                            <li><a href="standard-content-page__full.html">Standard content Page (Full width)</a></li>
                            </ul>

                            <h3 class="ci-header">#Events</h3>

                            <ul>
                            <li><a href="bikerides.html">Bike Rides - Page Layout</a></li>
                            <li><a href="events.html">Prices / Ability</a></li>
                            </ul>

                            <h3 class="ci-header">#NationalLifeSavers</h3>


                            <ul>
                            <li><a href="cpr-landing.html">Landing / Search schools</a></li>
                            <li><a href="cpr-results.html">Search results</a></li>
                            <li><a href="cpr-no-results.html">Search results (no results)</a></li>
                            <li><a href="cpr-member.html">School page / Heartstart Member</a></li>
                            <li><a href="cpr-apply.html">Apply (form)</a></li>
                            </ul>


                    </div>
                    <div class="cs-shelf__column">
                            <br /><br />
                            <h3 class="ci-header">Global Pages</h3>
                            <ul>
                            <li><a href="hero-component.html">Hero</a></li>
                            <li><a href="image-component.html">Image Component</a></li>
                            <li><a href="video-component.html">Video Component</a></li>
                            <li><a href="text-component.html">Text Component</a></li>
                            <li><a href="long-text-component.html">Long Text Component</a></li>
                            <li><a href="media-component.html">Carsouel/Slideshow Component [Image, Video, Youtube - min 2 items]</a></li>
                            <li><a href="nav-secondary.html">Secondary Navigation</a></li>
                            <li><a href="footer.html">Footer</a></li>
                            <li><a href="skiplinks.html">Accessibility - Skip Links</a></li>
                            <li><a href="forms.html">Forms - Single Step</a></li>
                            <li><a href="forms-multistep.html">Forms - Multi Step</a></li>
                            <li><a href="forms-generic.html">Forms - Generic</a></li>
                            </ul>

                            <h3 class="ci-header">Partials</h3>

                            <ul>
                            <li><a href="ctas.html">CTAs</a></li>
                            </ul>

                            <h3 class="ci-header">Global Components</h3>

                            <ul>
                            <li><a href="related-articles.html">Related Articles</a></li>
                            <li><a href="promo-banner.html">Promo Banner</a></li>
                            <li><a href="social-share.html">Social Share</a></li>
                            <li><a href="download-callout.html">Downloads (in body)</a></li>
                            <li><a href="download-callout-big.html">Downloads (standalone)</a></li>
                            <li><a href="quote.html">Quote</a></li>
                            <li><a href="two-cards.html">Two cards</a></li>
                            <li><a href="three-cards.html">Three cards</a></li>
                            <li><a href="text-and-image.html">Text and image</a></li>
                            <li><a href="text-and-image-video.html">Text and image (with video)</a></li>
                            <li><a href="text-and-image-curved.html">Text and image (top curve)</a></li>
                            <li><a href="event-promo-banner.html">Event Promo Banner</a></li>
                            <li><a href="event-promo-banner__quote.html">Event Promo Banner (with quote)</a></li>
                            <li><a href="curve-image-and-text.html">Curve image and text</a></li>
                            <li><a href="find-the-bhf-near-you.html">Find the BHF near you</a></li>
                            <li><a href="news.html">News</a></li>
                            <li><a href="donate.html">Donate</a></li>
                            <li><a href="conditions.html">Conditions</a></li>
                            <li><a href="banner.html">Banner (Sticky)</a></li>
                            <li><a href="tiles.html">Text Tiles</a></li>
                            <li><a href="quote-tile.html">Quote tiles (x3 &amp; x2)</a></li>
                            </ul>

                            <h3 class="ci-header">Imported Microsite > MVC Components</h3>

                            <ul>
                            <li><a href="import-text-with-list.html">Text with list</a></li>
                            <li><a href="import-cta-blocks.html">CTA blocks</a></li>
                            <li><a href="import-winners-table.html">Winners-table</a></li>
                            <li><a href="import-featured-tiles.html">Featured tiles</a></li>
                            <li><a href="import-social-share-offbrand.html">Social Share inside off brand</a></li>
                            <li><a href="social-share.html">Social Share</a></li>
                            <li><a href="import-text-component.html">Text Component (with red header)</a></li>
                            <li><a href="import-hero-component.html">Hero component</a></li>
                            <li><a href="import-hero-component-grey.html">Hero component (grey background)</a></li>
                            <li><a href="import-prize-tiles.html">Prize tiles</a></li>
                            <li><a href="import-text-and-image-vertical.html">Text and image (vertical)</a></li>
                            <li><a href="import-text-and-image-quote.html">Text and image (with quote)</a></li>
                            <li><a href="microsite-header.html">Microsite header</a></li>
                            <li><a href="import-totaliser.html">Totaliser</a></li>
                            <li><a href="import-image-text-cta-tiles.html">Image text and CTA tiles</a></li>
                            <li><a href="import-social-share-blocks.html">Social share blocks</a></li>
                            <li><a href="mixed-microsite-components-v1.html">Mixed components variant 1</a></li>
                            <li><a href="mixed-microsite-components-v2.html">Mixed components variant 2</a></li>
                            <li><a href="mixed-microsite-components-v3.html">Mixed components variant 3</a></li>
                            </ul>        
 

                    </div>
                    <div class="cs-shelf__column">

                            <br/><br/>
                            <h3 class="ci-header">Forms v2</h3>

                            <ul>
                            <li><a href="forms-structure.html">Forms - Page Structure</a></li>
                            <li><a href="forms-elements.html">Forms - All Elements</a></li>
                            <li><a href="forms-elements__input-core.html">Forms - Input [Core]</a></li>
                            <li><a href="forms-elements__input-custom.html">Forms - Input [Custom]</a></li>
                            <li><a href="forms-elements__email.html">Forms - Input [Email, Password]</a></li>
                            <li><a href="forms-elements__textarea.html">Forms - Textarea</a></li>
                            <li><a href="forms-elements__checkbox.html">Forms - Checkbox</a></li>
                            <li><a href="forms-elements__radio.html">Forms - Radio</a></li>
                            <li><a href="forms-elements__select.html">Forms - Select</a></li>
                            <li><a href="forms-elements__nested.html">Forms - Nested</a></li>
                            <li><a href="forms-elements__nested-radio.html">Forms - Nested [Radio, Last Option > Radio]</a></li>
                            <li><a href="forms-elements__nested-radio--alt.html">Forms - Nested [Radio, Middle Option > Radio]</a></li>
                            <li><a href="forms-elements__autocomplete.html">Forms - Autocomplete</a></li>
                            <li><a href="forms-number-selector.html">Forms - Number selector</a></li>
                            <li><a href="forms-timeout.html">Forms - Timeout</a></li>
                            <li><a href="forms-elements__calendar.html">Forms - Calendar picker</a></li>
                            <li><a href="forms-elements__calendar-optional.html">Forms - Calendar picker - Optional variation</a></li>
                            <li><a href="forms-postcode-lookup.html">Forms - Postcode Lookup [API]</a></li>
                            <li><a href="forms-postcode-lookup__country.html">Forms - Postcode Lookup w/ Country [API]</a></li>
                            <li><a href="forms-postcode-lookup__optional.html">Forms - Postcode Lookup - Optional variation [API]</a></li>
                            </ul>

                            <h3 class="ci-header">Forms v2 [Products]</h3>

                            <ul>
                            <li><a href="forms-example-mvp.html">Forms - First name, Last name [Input]</a></li>
                            <li><a href="forms-giftaid.html">Forms - Gift Aid [Radio > Checkbox]</a></li>
                            <li><a href="forms-gdpr.html">Forms - GDPR [Radio]</a></li>
                            <li><a href="forms-justgiving-email.html">Forms - JustGiving [Step 2: API email]</a></li>
                            <li><a href="forms-justgiving-signup.html">Forms - JustGiving [Step 5: Sign up ]</a></li>
                            <li><a href="forms-justgiving-login.html">Forms - JustGiving [Step 5: Login + Resend Password]</a></li>
                            <li><a href="forms-justgiving-url.html">Forms - JustGiving [Step 6a: Create Fundraising URL]</a></li>
                            <li><a href="forms-justgiving-url-suggestions.html">Forms - JustGiving [Step 6b: URL Suggestions]</a></li>
                            <li><a href="forms-qr-code.html">Forms - QR code</a></li>
                            </ul>

                            <h3 class="ci-header">#HoS - Phase 1 [Forms v1]</h3>

                            <ul>
                            <li><a href="hos-form-step1.html">Form Step 1 - Engraving</a></li>
                            <li><a href="hos-form-step2.html">Form Step 2 - Your Details</a></li>
                            <li><a href="hos-form-step3.html">Form Step 3 - Checkout</a></li>
                            <li><a href="hos-form-step4.html">Form Step 4 - Confirmation</a></li>
                            </ul>
                            
                            
                            <h3 class="ci-header">#HoS - Phase 2 [Forms v1]</h3>
                            <ul>
                            <li><a href="hos-form-step1__x5.html">Form Step 1 - Engraving x5</a></li>
                            <li><a href="hos-form-step3__multiple.html">Form Step 3 - Checkout (multiple)</a></li>
                            </ul> 

                            <h3 class="ci-header">#RetailCashDonations</h3>
                            <ul>
                            <li><a href="retailcash-landing.html">Landing page (tablet landscape only)</a></li>
                            </ul>
                            
                    </div>
                </div> 
                
        </main>

    
        {% include '_scripts.njk' %}  
        <script src="assets/js/forms-mvc.js"></script>
    </body>
    
</html>
