<!DOCTYPE html>
<html lang="en" itemscope itemtype="http://schema.org/WebPage"> 
    {% include '_head.njk' %}
    <body class="sitecore-editingmode">

        <div class="cs-shelf__row is-marginless">   
            <div class="cs-shelf__column">
                {% include 'c-nav-master.njk' %}
                {% include 'c-nav-mobile.njk' %}
            </div>
        </div>

        <main class="cd-main-content bhf-typography" accesskey="c" itemscope itemprop="mainContentOfPage">
            <div class="cs-shelf__row is-marginless">
                <div class="cs-shelf__column">
                    
                    <section class="g-header">
                        <div class="g-header__inner">
                            
                            <a href="#" class="g-logo bigbeat animation-beat">
                                <span></span>
                            </a>

                            <div class="g-header__image">
                                <img src="assets/img/placeholders/nino@2x.png" alt="BHF - Featured photo" />
                            </div>

                            <header  itemscope itemtype="http://schema.org/WPHeader">
                                <div class="g-header__copy">
                                    <h1 itemprop="headline">Beat heartbreak<br/>forever.</h1>
                                    <meta itemprop="description" content="We’re the British Heart Foundation. Thanks to you we're funding research to keep hearts beating and blood flowing."> 
                                    <p>We’re the British Heart Foundation. Thanks to you we're funding research to keep hearts beating and blood flowing.</p> 
                                    <a href="#" class="button">Read Nino’s story <i class="glyphicon glyphicon-menu-right"></i></a>
                                </div>
                            </header> 
                            
                        </div>
                    </section>

                </div>
            </div> 

            <!-- BEGIN COMPONENT -->
            <div class="cs-shelf__wrapper is-grey">
                <div class="cs-shelf__row is-full">
                    <div class="cs-shelf__column"> 
                        {% include 'c-text-with-list.njk' %}
                    </div>
                </div>
            </div>
            <!-- END COMPONENT -->

            <!-- BEGIN COMPONENT -->
            <div class="cs-shelf__wrapper is-grey">
                <div class="cs-shelf__row is-full">
                    <div class="cs-shelf__column"> 
                        {% include 'c-text-with-list.njk' %}
                    </div>
                </div>
            </div>
            <!-- END COMPONENT -->

            <!-- BEGIN COMPONENT : SOCIAL SHARE -->
            <section class="cs-shelf__wrapper c-offbrand">
                <div class="cs-shelf__row is-equal">
                    <div class="cs-shelf__column">
                        
                        <div class="c-cta-block">
                            <h2>Challenge someone!</h2>
                            <p>Do you know someone afraid of heights? Tag them in a social media post and challenge them to face their fear and raise money for the British Heart Foundation.</p>
                            {% include 'c-social-share.njk' %}
                        </div>

                    </div>
                    <div class="cs-shelf__column">
                        <img src="assets/img/product/challenge-someone-1.jpg" alt="Challenge someone!" class="resp" />
                    </div>
                </div>
            </section>
            <!-- END COMPONENT -->

            <div class="c-social-share__wrap is-grey">
                <div class="cs-shelf__row is-narrow">
                    <div class="cs-shelf__column">
                        {% include 'c-social-share.njk' %}
                    </div>
                </div>
            </div>

            <!-- BEGIN COMPONENT -->
            <div class="cs-shelf__row is-full">
                <div class="cs-shelf__column">
                    {% include 'c-text-and-image-with-quote.njk' %}
                </div>
            </div>
            <!-- END COMPONENT -->

            <!-- BEGIN COMPONENT -->
            <div class="cs-shelf__row is-full">
                <div class="cs-shelf__column">
                    {% include 'c-text-and-image-with-quote.njk' %}
                </div>
            </div>
            <!-- END COMPONENT -->
        
            <div class="cs-shelf__wrapper is-grey">
                <div class="cs-shelf__row is-narrow">
                    <div class="cs-shelf__column">
                        {% include 'c-text-component.njk' %}
                    </div>
                </div>
            </div>

            <!-- BEGIN COMPONENT -->
            {% include 'c-prize-tiles.njk' %}
            <!-- END COMPONENT -->
            
            <!-- BEGIN COMPONENT : FEATURED TILES -->
            {% include 'c-featured-titles.njk' %}
            <!-- END COMPONENT -->

            <!-- BEGIN COMPONENT : CTA -->
            <!-- Two CTAs, grey bg, with top border -->
            <div class="cs-shelf__wrapper is-grey">
                <div class="cs-shelf__row is-full">
                    
                    <div class="cs-shelf__column">

                        <section class="c-cta-block">
                            
                            <!-- Accepts 1 or 2 cta options -->
                            <div class="c-cta-block__item">
                                <div class="c-cta-block__item--inner">
                                    <h2>Got questions?</h2>
                                    <p>Lorem ipsum dolce sit amet - lorem ipsum.</p>
                                    <a href="#" class="cta cta__secondary is-white-on-red">Secondary button <i class="glyphicon glyphicon-menu-right"></i></a>
                                </div>
                            </div>
                            <div class="c-cta-block__item">
                                <div class="c-cta-block__item--inner">
                                <h2>Got questions?</h2>
                                    <p>Lorem ipsum dolce sit amet - lorem ipsum.</p>
                                    <a href="#" class="cta cta__secondary is-white-on-red">Secondary button <i class="glyphicon glyphicon-menu-right"></i></a>
                                </div>
                            </div>
                        </section>

                    </div>
                </div>
            </div>
            <!-- END COMPONENT -->

            <!-- BEGIN COMPONENT : CTA -->
            <!-- Two CTAs, grey bg, with top border -->
            <div class="cs-shelf__wrapper is-grey">
                <div class="cs-shelf__row is-full">
                    
                    <div class="cs-shelf__column">

                        <section class="c-cta-block is-border">
                            
                            <!-- Accepts 1 or 2 cta options -->
                            <div class="c-cta-block__item">
                                <div class="c-cta-block__item--inner">
                                    <h2>Got questions?</h2>
                                    <p>Lorem ipsum dolce sit amet - lorem ipsum.</p>
                                    <a href="#" class="cta cta__secondary is-white-on-red">Secondary button <i class="glyphicon glyphicon-menu-right"></i></a>
                                </div>
                            </div>
                            <div class="c-cta-block__item">
                                <div class="c-cta-block__item--inner">
                                <h2>Got questions?</h2>
                                    <p>Lorem ipsum dolce sit amet - lorem ipsum.</p>
                                    <a href="#" class="cta cta__secondary is-white-on-red">Secondary button <i class="glyphicon glyphicon-menu-right"></i></a>
                                </div>
                            </div>
                        </section>

                    </div>
                </div>
            </div>
            <!-- END COMPONENT -->

            
            <!-- BEGIN COMPONENT : CTA -->
            <!-- Two CTAs, white bg, with top border -->

            <div class="cs-shelf__row is-full">
                
                <div class="cs-shelf__column">

                    <section class="c-cta-block">
                        
                        <!-- Accepts 1 or 2 cta options -->
                        <div class="c-cta-block__item">
                            <div class="c-cta-block__item--inner">
                                <h2>Got questions?</h2>
                                <p>Lorem ipsum dolce sit amet - lorem ipsum.</p>
                                <a href="#" class="cta cta__secondary is-white-on-red">Secondary button <i class="glyphicon glyphicon-menu-right"></i></a>
                            </div>
                        </div>
                        <div class="c-cta-block__item">
                            <div class="c-cta-block__item--inner">
                            <h2>Got questions?</h2>
                                <p>Lorem ipsum dolce sit amet - lorem ipsum.</p>
                                <a href="#" class="cta cta__secondary is-white-on-red">Secondary button <i class="glyphicon glyphicon-menu-right"></i></a>
                            </div>
                        </div>
                    </section>

                </div>
            </div>

            <!-- END COMPONENT -->

            <!-- BEGIN COMPONENT : CTA -->
            <!-- Two CTAs, white bg, with top border -->
            <div class="cs-shelf__row is-full">
                
                <div class="cs-shelf__column">

                    <section class="c-cta-block is-border">
                        
                        <!-- Accepts 1 or 2 cta options -->
                        <div class="c-cta-block__item">
                            <div class="c-cta-block__item--inner">
                                <h2>Got questions?</h2>
                                <p>Lorem ipsum dolce sit amet - lorem ipsum.</p>
                                <a href="#" class="cta cta__secondary is-white-on-red">Secondary button <i class="glyphicon glyphicon-menu-right"></i></a>
                            </div>
                        </div>
                        <div class="c-cta-block__item">
                            <div class="c-cta-block__item--inner">
                            <h2>Got questions?</h2>
                                <p>Lorem ipsum dolce sit amet - lorem ipsum.</p>
                                <a href="#" class="cta cta__secondary is-white-on-red">Secondary button <i class="glyphicon glyphicon-menu-right"></i></a>
                            </div>
                        </div>
                    </section>

                </div>
            </div>
            <!-- END COMPONENT -->


            <!-- BEGIN COMPONENT -->
            <div class="cs-shelf__wrapper is-grey">
                <div class="cs-shelf__row is-full">
                    <div class="cs-shelf__column"> 
                        {% include 'c-winners-table.njk' %}
                    </div>
                </div>
            </div>
            <!-- END COMPONENT -->

            <!-- BEGIN COMPONENT : CTA -->
            <!-- Single CTA, white bg, no top border -->
            <div class="cs-shelf__wrapper is-grey">
                <div class="cs-shelf__row is-full">         
                    <div class="cs-shelf__column">

                        <!-- no border -->
                        <section class="c-cta-block ">
                            
                            <!-- Accepts 1 or 2 cta options -->
                            <div class="c-cta-block__item">
                                <div class="c-cta-block__item--inner">
                                    <h2>Got questions?</h2>
                                    <p>Lorem ipsum dolce sit amet - lorem ipsum.</p>
                                    <a href="#" class="cta cta__secondary is-white-on-red">Secondary button <i class="glyphicon glyphicon-menu-right"></i></a>
                                </div>
                            </div>
                        </section>

                    </div>
                </div>
            </div>

            <!-- END COMPONENT -->

            <!-- BEGIN COMPONENT : FEATURED TILES -->
            {% include 'c-featured-titles.njk' %}
            <!-- END COMPONENT -->
            
        
        </main>
        {% include '_scripts.njk' %}

    </body>
    
</html>
