.f-forms {
    
    h1 {
        @include font-size(18px);
        line-height: 23.4px;
        letter-spacing: -0.25px;
        font-family: $bhf;
        @include transition(0.2s all);
        
        @include mq('tablet') {
            @include font-size(24px);
            line-height: 33.6px;
            letter-spacing: -0.33px;
        }

        @include mq('desktop') {
            @include font-size(36px);
            line-height: 43px;
            letter-spacing: -0.25px;
        }
    }

    p {
        @include font-size(15px);
        margin-top: 0;
        
        @include mq('tablet') {
            @include font-size(17px);
        }

        &.bold {
            font-weight: bold;
        }

        a {
            @extend .hyperlink-std;
        }
    }

    .small {
        @include font-size(13px);
        line-height: 24px;
        
        a {
            color: $c-paprika;
            @include transition(0.2s all);
            opacity: 1;
            text-decoration: underline;

            &:hover, &:active {
                opacity: 0.7;
            }
        }
    }
}